[2019-05-16 20:41] Cybolic opened #1 "Allow a file argument to be passed"
It would be great if a file argument could be passed so the hex file could be opened directly from one's browser into wally.

[2019-05-16 21:04] Cybolic opened #2 "Drag'n'Drop support would be nice / is behaving oddly"
Currently, when dropping a file on to the wally window, the file contents is loaded into the window and the program has to be closed to be usable again - at least on Linux.
Accepting the file (or disabling dnd support) would be the expected behaviour.

[2019-05-16 22:16] fdidron commented on #1
@Cybolic Good point I will add this feature

[2019-05-16 22:17] fdidron commented on #2
Good catch, an update is coming

[2019-05-20 12:26] FredricW opened #3 "Error while rebooting the device"
Using the Ergodox EZ Glow (through the Apple HDMI/USB dongle), I get an error when Wally tries to reboot the keyboard after the flashing process.

**Specs**
- MacBook Pro late 2018 with MacOS Mojave 10.14.4
- Wally v1.0.0

Here is a screenshot as it seems I cannot copy the code from the built in terminal.
![image](https://user-images.githubusercontent.com/42540861/58021126-65d72a00-7b0a-11e9-8915-

[2019-05-20 18:11] lee-dohm commented on #3
I got the same error:

* 2019 27-inch Retina iMac with macOS Mojave 10.14.5
* USB 2 hub between iMac and keyboard
* ErgoDox EZ Shine
* libusb stable v1.0.22 installed via brew
* [Keyboard firmware HEX file](https://github.com/lee-dohm/keyboard-firmware/blob/master/keyboard-firmware.hex)

[2019-05-20 23:26] fdidron commented on #3
Seems like this affect users connecting through a hub or dongle. I am looking for a hub to reproduce the bug, @lee-dohm since you have libusb installed can you confirm you get the same error with the CLI ?

[2019-05-21 01:59] fdidron commented on #3
@lee-dohm Can you point me to the brand/model of your USB Hub ?

[2019-05-21 16:14] lee-dohm commented on #3
Same overall behavior, but no error message:

[code]

Basically, it gets to the end and just hangs there. The keyboard is usable and has been updated, but the CLI never exits. I have to use <kbd>Ctrl+C</kbd> to return control to the shell.

[Brand and model of the USB hub](https://www.thinkgeek.com/product/e5be/). I'm trying to see if there's someone they OEMed it from.

[2019-05-21 19:40] joshmedeski opened #5 "Add to Brew Cask?"
I would love if you guys could add this to Brew cask!

[2019-05-23 00:28] drashna opened #6 "No way to back out"
Once you've selected a board, there appears to be no way to "back out".

Normally, this is fine, but if you accidentally selected the wrong board, the only option is to flash it, or close Wally and re-open it.

This isn't a great user experience, and may be frustrating.

[2019-05-23 00:30] drashna opened #7 "Reset eeprom for Ergodox EZ"
Well, there is no simple way to do this.

The best way may be to flash a hex to reset it, and then the destination hex.

For instance: https://github.com/qmk/qmk_toolbox/blob/3d7c9b4c32f1bb7db49e4b0c2a65859fca20bd27/common/atmega32u4_eeprom_reset.hex

And then flash the eventual one, before resetting, if that's possible.

[2019-06-07 15:36] daveriedstra opened #9 "CLI and GUI dependencies"
The wiki for the linux install makes it seem like the gtk3 and webkit dependencies are also required for wally-cli. Regardless of whether this is the case or not, it should probably be documented, given the size of these dependencies (~373mb on system).

[2019-06-07 15:41] daveriedstra opened #10 "Window clips and prevents resize"
The Wally window clips some content and won't allow me to resize it:

![Screenshot from 2019-06-07 11-29-37](https://user-images.githubusercontent.com/3504098/59116211-0e61f800-8919-11e9-93ec-60b65b00346c.png)

Pop!_OS 19.04 using wayland gnome session

Wally looks great, btw!

[2019-06-09 03:47] skullface commented on #3
👋 Same here between rMBP (mid-2015, macOS 10.14.15) ⇄ [powered USB 2.0 hub](https://www.amazon.com/Anker-Aluminum-Portable-Adapter-Devices/dp/B00PBZX0OM?ref_=bl_dp_s_web_2528932011) via [dock’s USB connector](https://hengedocks.com/pages/vertical-macbook-pro-retina) ⇄ ErgoDox EZ using the Wally GUI.

[2019-06-10 11:17] fdidron commented on #9
Very good point @daveriedstra, thanks. I updated the wiki accordingly

[2019-06-10 11:17] #9 closed

[2019-06-10 11:18] fdidron commented on #10
@daveriedstra I have to say I didn't try running wally on Pop!_OS, I'l spin up a VM and look for a fix.

[2019-06-11 07:48] sphinxc0re opened #11 "Create proper Ubuntu package"
I would love to see a `.deb` file to make the installation easier. The only problem is that this makes updating the package very uncomfortable so adding a PPA would be perfect. The only problem I see with this is that there is already a package named `wally` on Ubuntu: https://launchpad.net/ubuntu/+source/wally

But you could easily get around this by calling the binary `zsa-wally`.

[2019-06-13 01:23] drashna commented on #5
@fdidron we would need a `Wally.app.zip` to be able to do this.

And for reference, this is the QMK Toolbox:
https://github.com/Homebrew/homebrew-cask-drivers/blob/master/Casks/qmk-toolbox.rb

However, this should be simple enough to do, but would allow me to more easily autoinstall wally in QMK

Also, in case it helps: https://github.com/qmk/qmk_toolbox/blob/master/osx/build_release.command

[2019-06-13 01:32] drashna commented on #11
Okay, this shouldn't be too difficult:
https://help.launchpad.net/Packaging/PPA
https://wiki.ubuntu.com/UbuntuDevelopment/NewPackages

[2019-06-19 16:21] steeef opened #12 "Unable to flash firmware, OpenDevices error."
Using a Planck EZ on a MacBook Pro Mid-2015.
When I open up Wally, I get these messages in the console:

![Screen Shot 2019-06-19 at 09 17 33](https://user-images.githubusercontent.com/77589/59782616-333c6080-9273-11e9-8e1d-bb79a3d2095f.png)

When I select firmware and then hit the reset button on my keyboard, nothing happens.

Running `wally-cli` gives me similar results. I get the prompt to pres

[2019-06-19 16:41] steeef commented on #12
Tried a few other things. I noticed that the error message occurs whether or not my Planck is plugged in, so it may be a red herring.

[2019-06-19 17:25] steeef commented on #12
Unplugged everything and just plugged in the Planck and it worked. Didn't narrow down which device was causing the issue, but whatever generated that error above must've prevented Wally from being able to send firmware.

[2019-06-20 09:24] fdidron commented on #12
@steeef would you mind sharing the h/w plugged into your Macbook when this happened ?

[2019-06-20 15:29] steeef commented on #12
I narrowed it down to a USB DAC and amplifier that I use. Screenshot of the info from System Information:
![Screen Shot 2019-06-20 at 08 27 43](https://user-images.githubusercontent.com/77589/59861297-66472880-9335-11e9-9ae1-0723b8a4acb0.png)

As long as that device is unplugged, firmware update works as usual.

[2019-06-20 16:28] cookandy commented on #3
Same issue here on a MBP (2017 model - 10.14.5) when using the [Apple USB-C adapter](https://www.apple.com/shop/product/MJ1K2AM/A/usb-c-digital-av-multiport-adapter?fnode=8b). Neither UI or CLI work.

[2019-06-22 04:31] fdidron commented on #12
@steeef this is useful thanks. This error is more of a warning than an error, I will have Wally ignore it so you can flash your Planck without the need to unplug your DAC

[2019-06-25 00:03] noahtallen opened #13 "[Mac] High DPI support"
Hey there! I just tried Wally on my computer. I'm using a 4k monitor, and the UI looks extremely pixelated. It even shows up when you look closely at this screenshot:

<img width="1487" alt="Screen Shot 2019-06-24 at 5 01 13 PM" src="https://user-images.githubusercontent.com/6265975/60059566-da6d2d80-96a1-11e9-89e2-886c18cde004.png">

It'd be really nice if it behaved nicely with high-dpi resoluti

[2019-06-26 15:42] zored opened #14 "Add to Chocolatey"
Related to #5
Windows Choco package will be perfect too!
I have a [working example](https://github.com/zored/choco-specs/tree/master/igdm) of package.

[2019-06-28 10:41] zored opened #15 "Release wally-cli separately"
It it possible to release wally-cli without UI installer for all platforms? It will be very handy. Thank you 😊

[2019-07-01 08:59] synaptiko opened #16 "Archlinux AUR package created"
I decided to create an AUR package here: https://aur.archlinux.org/packages/zsa-wally/

Not sure if you want to mention it somewhere in README or on wiki, so I'm just letting you know it's there and it's up you where/if you will place it and close this issue :-)

Keep up the good work, I really like the simplicity of wally-cli!

[2019-07-01 10:42] fdidron commented on #16
Thanks so much, I'm an arch user myself :)  I mentioned it on the wiki page: https://github.com/zsa/wally/wiki/Linux-install

Glad you like the cli, I use it all the time.

There's quite an update coming up soon, i will let you know once live.

[2019-07-01 10:42] #16 closed

[2019-07-01 20:59] vbabiy commented on #12
I have the same problem when I unplug the DAC works fine.

[2019-07-02 05:39] #6 closed

[2019-07-02 05:48] fdidron commented on #10
@daveriedstra A new release of Wally is out and should fix clipping issues: https://github.com/zsa/wally/releases/download/1.1.0-linux/wally

[2019-07-02 08:46] fdidron commented on #12
Hello I release  new version of Wally that should allow you to flash with the DAC plugged in:

https://github.com/zsa/wally/releases/tag/1.1.0-osx

[2019-07-02 14:26] vbabiy commented on #12
works great for me. Thanks @fdidron

[2019-07-02 15:15] steeef commented on #12
Yup, works for me too. Thanks @fdidron!

[2019-07-02 15:15] #12 closed

[2019-07-02 23:45] fdidron commented on #13
Hi there, can you try this version: https://github.com/zsa/wally/releases/tag/1.1.0-osx

My MacBookAir is unfortunately too old to connect to my 4k screen, so I cannot test it myself.

[2019-07-02 23:49] noahtallen commented on #13
I’m getting this message when I try to open Wally from the disk image:

On Jul 2, 2019, 4:45 PM -0700, Florian Didron <notifications@github.com>, wrote:

[2019-07-03 01:23] ebabel commented on #3
Also not working for me on hub, but with this [adapter](https://www.amazon.ca/AUKEY-Adapter-MacBook-Chromebook-Pixelbook/dp/B01C858SU8) it does work.

[2019-07-03 02:20] fdidron commented on #13
@noahtallen I messed up the release, just reuploaded a version, can you give it a try ?

[2019-07-03 04:21] fdidron commented on #2
@Cybolic version 1.1.0 is out here: https://github.com/zsa/wally/releases/tag/1.1.0-linux with the ability to DND

[2019-07-03 04:22] fdidron commented on #1
@Cybolic version 1.1.0 is out here: https://github.com/zsa/wally/releases/tag/1.1.0-linux with the ability to pass a file argument

[2019-07-03 04:23] fdidron commented on #3
Just got my hand on a hub that reproduces the issue, will work on a fix very soon :)

[2019-07-03 19:26] noahtallen commented on #13
Just tried it out, and it looks beautiful on my 4k monitor! Thanks for the fix :)

[2019-07-03 19:26] #13 closed

[2019-07-04 16:40] dfontana commented on #12
Hi @fdidron, I ran into the same issue posted here but on Linux. Unplugging my DAC/Amp did the trick as noted by other kind posters. I tried the latest release for linux (1.1.0) but it doesn't look like the fix you introduced worked in this case. While its not a hassle by any stretch, thought I'd share

Error in Wally:

[code]

I poked around `dmesg` to fetch some information that looked helpful,

[2019-07-05 19:32] daveriedstra commented on #10
@fdidron thanks, still clipping a bit but at least the buttons are visible :)

![Screenshot from 2019-07-05 15-27-54](https://user-images.githubusercontent.com/3504098/60742021-9bf52f80-9f39-11e9-9c2a-fcd24c86000b.png)

[2019-07-09 23:49] #1 closed

[2019-07-09 23:49] #2 closed

[2019-07-09 23:51] fdidron commented on #10
@daveriedstra , Oh no ! I increased some of the space, can you try this version:
https://github.com/zsa/wally/releases/download/1.1.0-linux/wally

[2019-07-11 15:57] daveriedstra commented on #10
Beautiful, thank you!

![Screenshot from 2019-07-11 11-56-41](https://user-images.githubusercontent.com/3504098/61066140-fb888a80-a3d2-11e9-9c62-cb6665a18d56.png)

[2019-07-11 18:13] tru opened #17 "download and flash directly from oryx"
This is the dream right? Enter your username/password in Wally, get a list of layouts/revisions for the connected board and flash with one click.

I bet you guys already thought about it so feel free to close this if it's not useful.

[2019-07-12 11:10] fdidron commented on #17
@tru we definitely have some announcements coming up regards to a more integrated way to tweak and flash the keyboards.

[2019-07-18 14:13] Skattered opened #18 "Error trying to flash Planck"
![image](https://user-images.githubusercontent.com/2245950/61464548-71957000-a944-11e9-8388-5ee6885247b1.png)

`Error while clearing the device status: libusb: i/o error [code -1]`

I get this error every time I try to flash my Planck from my laptop. I have tried with the usb-a adapter and with USB-c, and I have reinstalled the program and rebooted a couple times.

I tried on another computer and

[2019-07-18 15:30] voider1 commented on #18
Having the same problem over here.

[2019-07-19 08:17] fdidron commented on #18
Hi,
Can you try to install that new version

https://github.com/zsa/wally/releases/download/1.1.2-win/wally-winx64-1.1.2.exe

I made some changes on the Planck's bootloader.

[2019-07-19 13:02] Skattered commented on #18
I still have the same issue with 1.1.2

[2019-07-19 13:26] fdidron commented on #18
@Skattered Can you put the Planck in reset mode (pressing the reset button at the back of the keyboard with a paperclip).
Then open the Device Manager. Under "Universal Serial Bus" devices. there should be an entry called "STM32 Bootloader".
Right click on the entry and click "Properties"
Go to the "Driver" tab then click "Driver Details".
Can you attach a screenshot of the Driver details windows

[2019-07-19 13:53] Skattered commented on #18
I don't have a section called "Universal Serial Bus" just controllers and devices, but neither of those have that device listed under them. I see a libusb-win32 devices => Planck DFU Bootloader is that supposed to also be there or is it showing up different?

[2019-07-19 14:57] Skattered commented on #18
I uninstalled that driver and plugged it back in and it grabbed the driver you were talking about, and then it flashed fine.

[2019-07-19 23:06] fdidron commented on #18
@Skattered That's great, glad it worked !
Thanks for reporting.

@voider1
Can you try the instructions above and let me know if it worked for you:

- Put the Planck in reset mode (pressing the reset button at the back of the keyboard with a paperclip).
Open the Device Manager. Under "Universal Serial Bus" devices, if there's a
Right click on the entry and click "Properties"
Go to the "Driver" tab

[2019-07-22 13:13] #18 closed

[2019-07-22 13:15] #10 closed

[2019-07-25 02:31] borkyborkbork1 commented on #3
Same issue with Win10, no hub, USB 3.0.  Worked for initial simple flash then started showing exact same log/error as this issue.

[2019-07-30 15:04] waiting-for-dev opened #19 "Not working on NixOS"
I downloaded the binary and tried to execute it in my NixOS operating system. It simply does nothing. I can't debug anything because there is no output from the command. The only thing I can say is that the exit code (`echo $?`) is 127.

I'm trying to run the cli only version (but I tried with both `wally-cli` and `wally` binaries). In order to setup the system, I added `libusb` to `environment.sy

[2019-08-09 05:45] fdidron commented on #3
Hi there sorry for it has been quite a difficult issue to reproduce and solve. Can you try this version of Wally https://github.com/zsa/wally/releases/download/1.1.1-osx/wally-osx-1.1.1.dmg

@borkyborkbork1 I'll be working on a similar fix for Windows as well.

[2019-08-09 11:47] t-hart commented on #19
I'm in the same boat. I've taken the same steps as you and with the exact same results. I think the next step would be to clone the repo and try and develop it locally.

[2019-08-09 20:51] ezienecker opened #20 "Unable to flash firmware, OpenDevices error."
Hi

It's related to this issue: https://github.com/zsa/wally/issues/12

I try it on linux but get exactly the same error:

[code]

[2019-08-10 00:53] fdidron commented on #19
Hello, I will be looking into this sometimes next week, I m currently setting up a Nix OS VM.

[2019-08-10 01:10] fdidron commented on #15
@zored On windows it needs to be bundled with the installer because there's a driver install step.
For OS X and Linux, we will distribute them separately with package managers. You can track those issues / PRs

#11 Ubuntu
#5 Mac OS X
#16 Aur

[2019-08-10 01:10] #15 closed

[2019-08-10 05:28] waiting-for-dev commented on #19
Thank you very much! Please, tell me anything you may need from me.

[2019-08-11 20:14] jpatrickpark opened #21 "Cannot flash on windows Wally 1.1.4 for ergodox"
It hangs at "Flashing firmware" page for longer than 14 minutes, cannot install new firmware.

Specs
- Windows 10
- Wally v1.1.4

Error message:
15:59:57 info Application UI / State initialized
15:59:58 info Probing compatible usb devices
15:59:58 info Found 1 compatible device(s)
16:00:06 info Starting Teensy Flash
16:00:06 info Waiting for a DFU capable device
...
16:00:17 info Waiting for a DFU

[2019-08-11 20:16] jpatrickpark commented on #21
Although this issue does not happen again when I launch the program for the second time, it succeeds to install. I will close this issue for now.

[2019-08-11 20:16] #21 closed

[2019-08-13 05:35] mjalas commented on #3
@fdidron, I just tried the new version and it doesn't get stuck in the GUI anymore nor shows any errors. However, the keyboard doesn't reboot and I had to replug it for it to react to key presses. I'm also using a usb-hub on a MacBook Pro 2017, macOS Mojave 10.14.5.

[2019-08-13 07:31] fdidron commented on #19
Hi @waiting-for-dev @t-hart

Some progress here, (NixOs is quite different from other Linux distros !!!)
Can you create a file `wally-cli.nix` and paste this inside:

[code]

Then run `nix-env -i -f wally-cli.nix` to install wally-cli .

I'm still checking on how to make it work for the gui.

[2019-08-14 15:59] t-hart commented on #19
Nice one! Yeah, this works perfectly! For me at least, a CLI is plenty, though I'm sure some would appreciate a GUI too.

[2019-08-15 01:34] fdidron commented on #19
@t-hart I am going to release recipes for both the cli and the gui in the coming days.

[2019-08-15 03:19] fdidron commented on #20
Hi @ManuZiD , can you try release 1.1.1 : https://github.com/zsa/wally/releases/tag/1.1.1-linux

[2019-08-15 13:38] waiting-for-dev commented on #19
Working perfectly well here, too. Thank you very much for your chick work on this!

[2019-08-15 20:24] ManuZiD commented on #20
Hi @fdidron unfortunately I currently haven't access to my computer with linux on.

[2019-08-16 02:46] ZaneA commented on #20
I can confirm that release 1.1.1 fixes this issue for me, thanks! :)

[2019-08-16 16:45] Paillard opened #22 "Graphical interface does not work on windows 7"
Installed version 1.1.4, at the end, driver installer keep on searching compatible driver on windows update, and can't find one.

Tried to start wally as the installation ends well, but it stay on white prompt for the application.

Tried to install manually drivers, windows does not recognise them in the directory (wally/usb_driver)

Tried to use directly the wally-cli, but can't tell if it works

[2019-08-17 00:40] fdidron commented on #22
Hi wally is not compatible with Windows 7 for the moment. Support is on our roadmap though.

Which board are you using ? If it's an Ergodox the reset button is on the right half, next to the three status leds. If it's a Planck it's located at the back of the keyboard.

Also if you are using an Ergodox you could try to use teensy loader on Windows 7 to flash https://www.pjrc.com/teensy/loader_win10

[2019-08-17 01:35] fdidron commented on #20
@ManuZiD Closing this for now, feel free to reopen if the issue persists once you get to test the release.

[2019-08-17 14:27] Paillard commented on #22
Ok, I think it could be great to add some information about that in the readme description. something as :
`Supported os versions :
- Windows 10
- linux XXXX
- MacOs XXX

Roadmap :
- support for windows 7
- ...`

I am on the ergodox, using Wally on mac give me the key about the reset button. I did retry using only the wally-cli on windows 7 knowing that, but I ran through multiple errors (globally

[2019-08-20 09:41] newbould5 opened #23 "macOs 1.1.1 need to unplug keyboard after reflashing"
Every time I reflash my ergodox-ez I manually need to unplug the usb and plug it back in or nothing will work. Everything is fine afterwards.

wally version 1.1.1
macOs 10.14.5

[2019-08-22 22:09] abscondment opened #24 "panic while flashing ergodox"
I'm using wally v1.1.1 (Linux) to flash my new ergodox ez. I get the same panic whichever path I go through.

Both the ui and the cli versions ask me to press the reset button, and once I do this the application crashes. They keyboard is then stuck in a non-functioning state until I re-plug it in. The layout remains unchanged after it starts up again.

Here's my cli panic; it's the same with the U

[2019-08-23 02:35] fdidron commented on #24
Hi can you tell me which distro and libusb version you are using ?

[2019-08-23 16:01] abscondment commented on #24
Sure, @fdidron:

[code]

[2019-08-28 00:19] fdidron commented on #5
Hello,
The application is available on brew cask:

brew tap homebrew/cask-drivers
brew cask install zsa-wally

[2019-08-28 00:19] #5 closed

[2019-08-28 11:36] Deltatiger opened #25 "Keyboard not detected when connected via USB Dock"
I am using a Dell USB C dock for my laptop and the EZ is connected to the dock. When I try wally, the keyboard is not detected until it is connected directly to the Laptop.

Is this the expected behavior?

[2019-08-29 20:12] ManuZiD commented on #20
Hi @fdidron i got the same error...

[2019-09-01 02:39] JaredCorduan commented on #3
I run into the same error with:
* ThinkPad X1 Carbon (6th Gen)
* ThinkPad USB-C Dock
* Ubuntu 18.04.3
* Wally v1.1.0
* Ergodox EZ Glow

If I _do not_ use the dock then there is no error, but with the dock I get the error, though keyboard does reboot  and everything seems fine afterwards.

[2019-09-03 07:17] nsteinmetz commented on #3
Hello,

For macosx,I had the same error using the official Apple usbc to usb/hdmi/usbc adapter and/or a dell dock, till I installed `libusb`via `homebrew`:

[code]

And not it works like a charm - it should be stated as a pre-requisites in the doc for OSX Install (as it is for Linux install)

[2019-09-03 10:10] winpat commented on #19
@fdidron Funny, I just started packaging wally for NixOS and then I stumbled over this issue.

Let me know if there something I can do to help (testing... etc.)

[2019-09-03 18:47] thanatos opened #26 "Doesn't make any progress flashing keyboard"
It gets to "Flashing firmware" and says "Please don't unplug your board" (which I'm going to have to do here after I finish this bug report 😫)

The built-in "terminal" says,
[code]

This is on OS X, as downloaded from Ergo-Dox ([here](https://ergodox-ez.com/pages/wally))

[2019-09-11 21:12] clayzermk1 commented on #26
Wally requires libusb on macOS per the readme, but it looks like it doesn't do a check for it in the binary on macOS since it lets me begin flashing without having it. I'm in the same situation, brand new EZ, can't flash by just installing Wally. Overall this creates a bad user experience.

[2019-09-11 21:29] clayzermk1 commented on #26
As a workaround, one can: close Wally, `brew install libusb`, start Wally, reattempt the flash, unplug and replug the keyboard to simulate a reboot of the keyboard. The pipe error above still shows, but at least it flashes.

Version info:
macOS 10.14.6 (18G87)
libusb 1.0.22
Wally 1.1.0 (downloaded from Ergodox website)

[2019-09-12 01:45] fdidron commented on #26
@clayzermk1 Do you happen to have the keyboard plugged via a usb dongle or a hub ? I am considering removing the keyboard phase from Wally and make it so it asks users to unplug / plug the keyboard after flashing since this issue seems to only affect some (not all) dongles / hubs

[2019-09-12 01:47] fdidron commented on #26
@thanatos can you share your OS version as well as the keyboard model you are using ? (Planck or Ergodox ? )

[2019-09-12 01:49] fdidron commented on #25
@Deltatiger There have been some issues with some USB dongles / hubs. Can you share the OS you are using and also which keyboard you are using (Planck or Ergodox) ? Thanks

[2019-09-12 15:43] Rhjulskov opened #27 "Can't install on macOS Catalina"
<img width="426" alt="Screen Shot 2019-09-12 at 5 32 46 PM" src="https://user-images.githubusercontent.com/6944016/64798685-bb38ba80-d583-11e9-9260-6a9455408b19.png">

I'm getting the following error, when trying to install the software.

[2019-09-19 08:25] kschwank opened #28 "Linux download link still points to version 1.1.0"
The download link on this page:

https://github.com/zsa/wally/wiki/Linux-install

points to

https://configure.ergodox-ez.com/wally/linux

which currently starts the download for version 1.1.0.

I ran into the usb issue https://github.com/zsa/wally/issues/12 that is already fixed in newer versions.

[2019-09-19 17:17] xavdid opened #29 "macOS crash (fails to open)"
I just downloaded this app (via `brew cask install zsa-wally`, if that matters) and I've been unable to open it. My keyboard isn't attached (I wanted to open the app and see what happened).

Here's the crash log:

[code]

As it notes, I'm on `Mac OS X 10.14.5 (18F132)` (Mojave) if that's helpful.

Running `brew install libusb` fixed the problem. Is there a way that can be included (or declared as

[2019-09-23 14:09] fdidron commented on #27
Hi @Rhjulskov Can you confirm which version of Catalina you are running ?

[2019-09-23 14:10] fdidron commented on #29
@xavdid I will update Wally to include the depency this week

[2019-09-25 04:34] fdidron commented on #27
Hi @Rhjulskov I compiled Wally against the latest beta of Catalina, can you try to download version 1.1.3 here : https://github.com/zsa/wally/releases/download/1.1.3-osx/wally-osx-1.1.3.dmg

Note that the first time you open Wally you might need to right click on its icon and choose Open from the dropdown menu.

[2019-09-25 04:48] fdidron commented on #29
@xavdid I released version 1.1.3 of Wally that embeds libusb with the Gui App, there is a PR open to update Wally to v1.1.3 on brew cask https://github.com/Homebrew/homebrew-cask-drivers/pull/1210

[2019-09-25 04:48] #29 closed

[2019-09-25 04:58] fdidron commented on #28
@kschwank Thanks a lot for reporting, I updated the urls

[2019-09-25 04:58] #28 closed

[2019-09-25 05:01] fdidron commented on #12
@dfontana So sorry I only saw this now😱, can you reopen the issue or create a new one next time ?

Can you try version 1.1.1 of Wally available here https://github.com/zsa/wally/releases/tag/1.1.1-linux

[2019-09-25 16:10] ngirard opened #30 "Linux install: superfluous dependency"
The [Wiki page](https://github.com/zsa/wally/wiki/Linux-install) dedicated to Linux installation advises to install `webkit2gtk`; but as far as I can tell, `libwebkit2gtk` suffices. It has far fewer dependencies, and (I think) comes preinstalled in Ubuntu systems.

So for Debian-based systems, instead of
[code]

I'd suggest writing
[code]

[2019-09-25 16:15] ngirard opened #31 "Implement `--version` option"
Just downloaded & ran latest Wally V1.1.1 on Ubuntu 19.04.

Got the following messages:
[code]

[2019-09-25 19:09] xavdid commented on #29
perfect, thank you!

[2019-10-01 12:46] Rhjulskov commented on #27
@fdidron Thanks.
Both 1.1.2 and 1.1.3. presents the dialog in the original post, when right clicking on choosing Open the first time. Doing it a second time though gives an option to open and I now have it running.

I've tested it with both versions, and I can't see any difference in the behaviour.
Thank you very much for taking the time :D

[2019-10-07 22:49] acook commented on #21
This just happened to me too, fresh Wally install, same error with no more info. Even upon relaunching the program. I also tried to manually drop libusb.dll into the program path. It left my ErgoDoxEZ in an unusable state. I had to use Teensy Loader to put a new firmware on it.

[2019-10-09 03:08] jessebett opened #32 "Error -7 usblib timeout"
I thought I successfully followed the instructions as the wally client opened, was able to find my new planck ez, and began flashing my first configuration bin.

However, after a few seconds of waiting I noticed that there was a notification badge in the wally client terminal icon. I clicked it and it said that I have `Error -7 usblib timeout`.

It has been stuck like this for minutes with no chan

[2019-10-09 03:10] jessebett commented on #32
On Manjaro, and followed the linux install instructions.

[2019-10-09 14:44] jessebett commented on #32
This was pretty scary as after this error the keyboard was not responsive. Trying Wally again it was unable to find compatible devices. I'm not sure what I did but eventually it was able to find the keyboard and flash the bin.

[2019-10-11 23:03] rspeicher commented on #3
Just ran into this issue on a MacBook that only has USB-C ports, using this hub: https://www.amazon.com/gp/product/B071G83L1J/ref=ppx_yo_dt_b_asin_title_o04_s00?ie=UTF8&psc=1

Installing `libusb` through Homebrew and then flashing with `wally-cli` seems to have worked.

[2019-10-11 23:52] rafaelfranca commented on #27
I just downloaded 1.1.3 and I still can't open it. I see that same dialog.

[2019-10-12 23:41] tchajed commented on #3
I'm still running into this with:
- MacBook Pro mid-2015 running macOS 10.14.6
- Ergodox EZ Glow
- AmazonBasics USB 2.0 hub (note there's no USB-C involved, it's USB to USB)
- wally-cli 1.1.3
- libusb 1.0.23 installed through Homebrew

It's not a serious issue because it seems like flashing works fine, the CLI just hangs.

Also, the progress bar is incorrect even without the hub (it ends up at 327

[2019-10-19 16:26] digitalcoyote commented on #14
I'd be willing to add a package for this to my AU repo (Automatically Updates the package as Windows releases are detected). It should require no changes to your release process, and I can add this projects maintainer(s) as maintainers on the package to add credibility and give them management rights.

[2019-10-29 13:35] JasonMFry opened #34 "Wally is from an unidentified developer"
I'm getting the below error when trying to install wally from the official website, brew, or when downloading the latest release from github. I'm on my work machine and am not supposed to install apps from unidentified developers. I thought to compile the source but I'm having separate issues with that.

![image](https://user-images.githubusercontent.com/166681/67771711-302a5b80-fa2f-11e9-98c5-0e0

[2019-11-05 01:42] fdidron commented on #34
Hi @JasonMFry I'm currently working on Wally rewrite using Swift / XCode that will be signed for submission on the Mac Store, it is going to take a while though. Which version of OS X are you using ? Is it for an Ergodox or a Planck ?

[2019-11-06 22:50] JasonMFry commented on #34
@fdidron I'm on 10.14.6 using an ergodox shine. Thanks a lot! I can always compile from source, as I mentioned I was having issues with that which I can't remember right now. I think this is an important thing, but most people should be satisfied by compiling from source I would think.

[2019-11-06 23:06] JasonMFry opened #37 "Errors trying to compile release build on macos"
## Why

I want to compile a release build because of [this issue](https://github.com/zsa/wally/issues/34).

## How to Reproduce

1. Buy a Macbook and install macOS 10.14.6
1. cd to `$GOPATH/src/github.com`
1. clone this repo
1. run `brew install libusb`
1. run `sh build.osx.sh`

## Error Output

[code]

## Troubleshooting

After running `npm install cross-env -g` and running `sh build.osx.sh` I ge

[2019-11-24 01:04] abhidp commented on #26
Although the flashing tool gets stuck at `Flashing Firmware, Please do not unplug your board.` and the terminal log says `error
Error while rebooting device: libusb: i/o error [code -1]` the hex has already been applied to your board even without rebooting. Just ignore the error messages. You can start typing with the new layout straight away.

[2019-12-05 14:09] kescobo commented on #23
I'm having the same issue (same MacOS version). If I click the little terminal icon, I see

[code]

I tried `brew install libusb`, but that doesn't seem to solve the issue.

[2019-12-10 10:39] javinievas opened #38 "Couldn't claim usb interface, is your board flashed with the latest firmware version?"
Trying the new TRAIN method.

Getting this error message after selecting the keyboard in the chrome popup:

![image](https://user-images.githubusercontent.com/487162/70522256-122d3c00-1b41-11ea-8e70-64d97882c829.png)

I've flashed the keyboard with the latest firmware version (v15)

I've followed the step-by-step tutorial and the linux instructions related to the udev rules.

Got:

- Ubuntu 16.04

[2019-12-10 11:39] fdidron commented on #38
Hi @javinievas Did you assign the [Oryx key](https://configure.ergodox-ez.com/planck-ez/layouts/dPvrN/YEdXw/3/11/keys) to your layout ?

[2019-12-11 10:12] javinievas commented on #38
That did the trick!

Sorry!

[2019-12-11 10:26] fdidron commented on #38
Great to hear @javinievas and no need to be sorry, the error message should include that info, I am updating it.

[2019-12-11 10:26] #38 closed

[2019-12-12 14:04] zanona commented on #9
Hey, @fdidron how can I run the cli?
I downloaded the bin file and it keeps asking for dependencies:

[2019-12-12 14:10] zanona commented on #9
@fdidron nevermind, I just found the wally-cli url by the checking the AUR package sources Perhaps it could also be added to the wiki when providing the download links?
https://github.com/zsa/wally/releases/download/1.1.1-linux/wally-cli

[2019-12-13 08:27] finalgriever commented on #3
Just to contribute to the error profile, I'm getting the same issue on the Microsoft Surface Book 2.

[2019-12-18 02:17] nmelin commented on #34
Is there a timeline for this yet? Also,  is there a documented workaround for flashing from macOS Catalina?  (see also, #37)

@fdidron

[2019-12-23 17:51] JasonMFry opened #39 "Unable to build CLI on macOS"
I'm trying to build the cli version on macOS 10.14.6. Either I have something setup terribly wrong, or the instructions to build this are terribly wrong. FWIW `echo "$GOPATH"` => `/Users/j/go`. I cloned the repo into `$GOPATH/src/github.com`

## Steps to Reproduce

1. Clone the repo: `cd $GOPATH/src/github.com && git clone git@github.com:zsa/wally.git`
1. Build: `go build cli/main.go -o wally-cli`

[2020-01-08 17:28] chris-kahn commented on #37
Is there no one monitoring this repo? Any update?

[2020-01-10 01:27] fdidron commented on #39
Hi @JasonMFry ,

I updated the build scripts and README for OSX, can you pull the latest commit from master then follow in order:

https://github.com/zsa/wally#pre-requisites-for-all-os
https://github.com/zsa/wally#mac-os

[2020-01-10 01:28] fdidron commented on #37
Hi, sorry for the late replies on this,

I updated the build scripts and README for OSX, can you pull the latest commit from master then follow in order:

https://github.com/zsa/wally#pre-requisites-for-all-os
https://github.com/zsa/wally#mac-os

[2020-01-10 01:29] fdidron commented on #34
I updated the build scripts and README for OSX, can you pull the latest commit from master then follow in order:

https://github.com/zsa/wally#pre-requisites-for-all-os
https://github.com/zsa/wally#mac-os

[2020-01-10 22:00] JasonMFry commented on #37
@fdidron thanks for working on this. I'm still getting errors :(

1. clone this repo fresh
1. install dep with `brew install dep`
1. install go-bindata with `go get -u github.com/jteeuwen/go-bindata/...`
1. install libusb with `brew install libusb`
1. Install upx with `brew: brew install upx`
1. run `sh build.osx.sh`

[code]

1. `npm install cross-env -g`
1. `sh build.osx.sh`

[code]

There is a f

[2020-01-11 01:42] fdidron commented on #37
Hi Jason,

There seems to be two errors on the logs above, can you try to:
1. npm i -g webpack
2. make sure you run dep ensure between step 2 and 3

I will update the docs accordingly, if it works

[2020-01-11 22:30] toddhodgson commented on #34
Is there any timing on this?

[2020-01-24 09:25] danielo515 opened #40 "add CLI to the path"
When you install wally the CLI tool is not added to the path.
Will it be possible to add that step?
Thanks and regards

[2020-01-24 23:46] DiscoRiver commented on #40
What OS are you using? And exactly how are you installing?

If, by chance, you're using Linux, you're responsible for the binary's location once it's downloaded, so you should move it somewhere like `/usr/local/bin` (which is already in your $PATH), according to FHS: http://pathname.com/fhs/

[2020-01-25 09:15] danielo515 commented on #40
Sorry for the lack of detail. I'm using OSX Catalina, and I'm downloading the installer from the official page of the project.

Regards

[2020-01-25 23:43] JasonMFry commented on #37
@fdidron That may have worked. I still got some errors (see below), but I did see this:

[code]

Wally.app and wally-cli are both in ./dist/osx, but I'm not sure how to use them. I've tried `open Wally.app` but I get `The application cannot be opened because its executable is missing.` When trying to use wally-cli, `which wally` and `which wally-cli` return `wally not found` or `wally-cli not foun

[2020-01-28 14:05] DiscoRiver commented on #40
No worries! Sorry for the delay, it's been a crazy few days.

I've got a couple of ideas for this, so I'm going to test those and see which one works best. I'll keep you posted.

[2020-01-28 16:15] DiscoRiver commented on #40
Okay so I've updated the dmg.json to include the /usr/local/bin directory;

[code]

 and added a background image for user-simplicity. It looks like this now;

![Screenshot 2020-01-28 at 15 54 11](https://user-images.githubusercontent.com/25288774/73282039-ce71bd00-41e8-11ea-9d12-7d19575d9542.png)

This seems to be better than having users place the wally-cli binary directly into the applications

[2020-01-28 17:11] danielo515 commented on #40
That looks fantastic!

[2020-01-29 14:51] kescobo commented on #26
I was having this problem as well, but seems to be fixed with the recent update 👍

[2020-02-14 18:22] timolehto commented on #3
I ran into this issue as well. I don't remember having any issues 4 months ago when I last updated my firmware, but now the reboot fails.

[2020-02-18 09:26] mykter opened #42 "Windows assertion failure"
Whilst flashing an image (from Oryx) to an ergodox EZ via a direct connection (no hub), this error appeared:
![image](https://user-images.githubusercontent.com/1424497/74721793-d644e000-522f-11ea-802b-4d50d252438b.png)

`File: os/poll_windows.c Line 145 Expression fd != NULL`

Windows Version 1.1.4

I pressed Ignore, and found this in the log (which incidentally has a very weird selection and copy

[2020-02-18 21:55] astrelochnik commented on #3
same issue on a dual boot Arch Linux latest release and on Windows 10 Ed. I get it in both OS's.
Thinkpad t580. wally v1.1.4. Ergodox EZ.

Despite the error. It still flashes the new config onto the keyboard.

[2020-02-19 22:27] DiscoRiver commented on #40
@danielo515 - I've been doing internal company work for so long I forgot how to open source.

I'm going to create a PR tomorrow and try to get this in.

[2020-02-20 11:16] danielo515 commented on #40
Hahaha, no worries. I already have the full path to wally cli on my bash history, so it doesn't require that much typing 😂

[2020-02-23 15:39] DiscoRiver commented on #42
- Has this happened more than once?

[This](https://github.com/libusb/libusb/blob/6816bb40a3bf3e80eb7f86f4dd368f8be76667c5/libusb/os/poll_windows.c#L373) libusb assertion is failing and terminating the application.

Basically, it seems libusb failed to find the file descriptor. I suspect the device was disconnected in some manner (not blaming you), or there is a bug in libusb causing it to grab a

[2020-02-26 14:16] mykter commented on #42
No, just the once. I will report back if it happens again.

[2020-02-26 14:16] #42 closed

[2020-02-26 17:30] DiscoRiver commented on #31
The name of the file the application is trying to open is "--version", so I imagine there was an issue with the command.

Suggest closing.

[2020-02-26 17:54] ngirard commented on #31
I'd rather suggest *implementing* such `--version` option.

Perhaps my title was misleading.

[2020-02-26 18:03] DiscoRiver commented on #31
Ah, gotcha. I'll get an update in.

Thanks!

[2020-03-05 14:56] biomaks commented on #23
I have exactly the same issue.
macOs: 10.15.3 (19D76)
wally: v1.1.3

[2020-03-05 15:48] kescobo commented on #23
Hmm - it was solved for me with Wally 1.1.3, but I'm still on OSX10.14.

[2020-03-11 15:29] Jill1627 commented on #3
Same issue with Macbook and MBP with Apple HDMI dongle.
The only dongle that worked for me is a  Tripp-Lite one.

[2020-03-11 16:43] jaredpar commented on #3
Same issue with a Windows Surface Laptop connected through a docking station. Was able to work around the problem by unplugging the keyboard and plugging it back in. Everything worked fine after that.

[2020-03-13 12:41] JesusTheHun commented on #3
Same issue with a MBP and a combo Usb hub + usb toggler.

[2020-03-17 22:31] biomaks commented on #23
yes I checked that, everything was updated

[2020-03-28 02:09] kabo commented on #24
I've got this exact problem :(

[code]

Getting a bunch of different errors with both 1.1.0 and 1.1.1

[code]

[2020-03-28 22:35] kabo commented on #24
In my case there was something funky going on with `usbguard`. My guess is that the keyboard tries to present it self as another device during the flash process.

Stopping usbguard didn't work either ([bug](https://github.com/USBGuard/usbguard/issues/367)).

Disabling usbguard, rebooting, flashing, enabling usbguard, rebooting, fixing the usbguard rules because the keyboard name is now `Ergodox EZ

[2020-03-28 23:34] simplycycling commented on #26
I'm seeing the same issue with the version I just downloaded today, Ergodox-EX, current MacOS verion.

[2020-03-29 16:27] DroogaMcGee commented on #42
This same thing is happening to me. I have tried flashing my Ergodox EZ three times now with the default Windows layout and consistently get the Line 145 assertion failed window.
![Line145](https://user-images.githubusercontent.com/48909285/77854481-ed8dca80-71ea-11ea-9b17-a4991fcca22e.JPG)

[2020-03-29 16:51] DrewOnFire commented on #42
Looks like it's a flag setting in Chrome that was causing it for me.
Go to chrome://flags/ and set the following flag to Disabled.
![USB](https://user-images.githubusercontent.com/48909285/77854981-d8ff0180-71ed-11ea-9a18-c63fc6cea8aa.JPG)

After this, open Windows Device Manager and delete the Ergodox EZ device in the USB devices section. Then unplug and replug the keyboard. Should fix things.

[2020-04-01 21:17] phette commented on #26
It seemed to work for me despite the error message.  Not sure if anything is actually broken or incomplete.

[2020-04-04 06:06] Rostiger opened #46 "Numpad Issues"
This is more a word of advice than an issue. I'm sorry if this isn't the proper place to put it.

In my [layout](https://configure.ergodox-ez.com/planck-ez/layouts/Qa0am/latest) I created a layer (called Extend) with a numpad and mousemode.

In the dropdown for selecting keys there are the options _Numpad_ and _Digits_. When choosing _Numpad_ the keys won't actually work as expected. My suspicion

[2020-04-04 07:11] DiscoRiver commented on #46
The NUMPAD keys function exactly how they are supposed to, meaning that NUMLOCK must be enabled. You can use NUMPAD keys but I would suggest adding the NUMLOCK key to your layer.

Some uses may require the specific use of NUMPAD keys so changing them to digits is not always a viable solution.

On Sat, Apr 4, 2020 at 07:06, Clemens Scott <notifications@github.com> wrote:

[2020-04-04 15:30] Rostiger commented on #46
Right, I should have said, it didn't work as **I** expected. Of course it works just like it's supposed to, thanks for the clarification and confirmation!

[2020-04-04 15:34] DiscoRiver commented on #46
It's all good! It can't hurt to have this logged for anyone running into similar issues.

[2020-04-26 04:32] devinjameson opened #47 "Wally quit while flashing and now Planck EZ is unreponsive"
I was flashing a new config to the Planck EZ when Wally quit (not sure if it quit on its own or I accidentally quit it). Now the keyboard is unresponsive when I plug it in and is not recognized by Wally. Is it bricked? Any idea how to fix?

[2020-04-26 04:58] #47 closed

[2020-05-02 20:18] sajjad commented on #3
Similar issue with a Dell XPS 15 9560 on Win 10. Wally doesn't detect keyboard when connected through a USB hub.

[2020-05-02 20:25] sajjad commented on #25
I have exactly the same issue with my ergodox.
Dell XPS 15 9560 running Win 10 Version 1909 Build 18363.815
Using the USB ports on a Razer Core X Chroma

[2020-05-11 13:25] gliush commented on #23
The same problem for macos:10.15.4 and wally:1.1.3
I have a switcher usb-c to usb-2 (default one from Apple), that might have caused the problem.

[2020-05-12 17:25] revmischa commented on #39
On master I get:
[code]

[2020-05-15 06:03] bsansouci commented on #3
Same issue here on MBP with a dongle!

[2020-05-22 11:25] qhkm commented on #3
Same issue here on MBP with a donggle

[2020-05-26 00:20] flapsthiscax opened #48 "Planck EZ issue after flash"
So I made a layout on oryx, proceeded to flash it with Wally. Then the keyboard no longer registered any layout. It still makes the usb plug in sound and will wake up my computer when I press a key, however when I go to type anything with it nothing happens.

Thanks for the help.

[2020-05-26 11:06] davidak commented on #19
@fdidron first, thanks and respect for the effort and dedication to look into NixOS! It has a steep learning curve and is hard to learn for new users. (we try to improve that)

Have you looked into packaging the GUI?

@spacekookie added the CLI in https://github.com/NixOS/nixpkgs/commit/4e78f846b649c5743c8725586866f5506bf69bc1#diff-82c4f613221a270650ed55ccb8ea95ae.

You can now use it with Nix wit

[2020-06-03 03:15] stantonk commented on #23
I'm also having the same issue, I can't successfully flash my keyboard with any new configurations:

macOS Mojave: 10.14.6
Wally: V1.1.3

Any ideas?

[2020-06-03 03:17] stantonk commented on #23
I got it to work if I plugged it directly into my macbook pro with a USB-A -> USB-C adapter. But when I had it plugged into a hub it failed. /shrug

[2020-06-03 17:35] DiscoRiver commented on #23
Apologies for the delay, I wanted to look into this sooner but had some corporate commitments to deal with. This is on my radar now so I'll see if I can get to the bottom of it.

[2020-06-03 23:39] DiscoRiver commented on #23
@stantonk @gliush @biomaks @kescobo

If you're still experiencing this issue, could you please try again and send me the all the log output from a run where it fails? (click the little terminal icon at the bottom of the UI to see the log window)

It would seem this is caused by the ergoboot strategy, but I don't think that should ever generate the `Error while rebooting device: libusb: i/o error [

[2020-06-04 01:40] sinewalker commented on #3
@fdidron the updated `dmg` works for me over a [mbeat usb 3 hub](https://djcity.com.au/product/mbeat-usb-m43hub-7-port-usb-3-0-and-usb-2-0-hub-manager-with-switch/) connected via a usb-c to usb-a dongle from a 2019 MBP

before trying the new image i tested via only the dongle, which also worked. i already had `libusb` installed from homebrew too, for a different reason.

[2020-06-05 03:13] DiscoRiver commented on #23
I just realised this is likely a duplicated for #3 and work should continue over there.

[2020-06-06 18:07] gliush commented on #23
hm, I tried several times and it always worked fine. I didn't manage it to work ever before (and I run it more than 100 times).

[2020-06-06 23:38] bedge commented on #3
Same issue with mid 2015 macbook pro, mojave 10.14.6
Using hub in HP HC270cr monitor

[2020-06-07 00:10] bedge commented on #3
This may be more help, the dtrace output of a full run, not just the bit after it hangs like I attached above.
[wally-dtrace.txt](https://github.com/zsa/wally/files/4741208/wally-dtrace.txt)

[2020-06-08 20:19] colincadams commented on #27
I still seem the same issue as well, can this be re opened?

[2020-06-11 03:07] rahiminasab commented on #27
I'm also getting the same error and I am using Catalina 10.15.4

[2020-06-11 20:17] mike-deboer commented on #27
Seeing the same issue in 10.15.5.

[2020-06-13 20:13] charlesrocket commented on #48
Same here

[2020-06-15 07:08] fdidron commented on #48
Hi @flapsthiscax , @charlesrocket can you reach our support at contact@ergodox-ez.com so we can dig into your issues ?

[2020-06-15 07:08] #48 closed

[2020-06-15 07:09] fdidron commented on #46
@Rostiger glad you got this sorted ! If you run into any other issue, shoot us an email contact@ergodoz-ez.com

[2020-06-15 07:09] #46 closed

[2020-06-15 07:12] fdidron commented on #40
@DiscoRiver @danielo515 Thanks for this, I'm cooking a new version of Wally and will make sure it includes this

[2020-06-15 07:12] #40 closed

[2020-06-15 07:14] #17 closed

[2020-06-15 07:15] #11 closed

[2020-06-15 07:37] #31 closed

[2020-06-15 09:58] suryabhupa commented on #27
Also same problem with 10.15.3.

[2020-06-15 10:50] arcaartem commented on #3
Same issue on MBP 16, connected through a USB hub (Product ID: 0x0610, Vendor ID: 0x05e3). Wally v1.1.3

[2020-06-15 18:29] charlesrocket commented on #48
@fdidron support ignored any mentions of Wally issues.

[2020-06-16 05:37] fdidron commented on #34
Hi everyone, sorry for the lack of activity in here, things have been on a crazy side lately.
Regarding this issue, as well as being able to compile locally #37 #27  here are the news:
1. We are in the process of getting Wally signed by Apple, hopefully it should be done around next week.
2. I am in the process of porting Wally to https://wails.app/ . It uses the same technology than our current c

[2020-06-16 05:41] fdidron commented on #3
Hi everyone, apologies for the lack of updates on this.
Once I'm done [with this](https://github.com/zsa/wally/issues/34#issuecomment-644541798) I will look into fixing this issue.
The idea is to ditch libusb for Windows and OS X and use native code for usb communication. I already have a proof of concept on Windows, but for OS X I'm entering new code language territory.

[2020-06-22 03:40] rayyayyar commented on #27
Seeing on 10.15.5

[2020-06-22 09:02] suryabhupa commented on #27
Actually, I found a silly workaround!

If I still have the launcher, I double-click it to show the small window with the Wally app, the Applications folder, and the binary wally.cli. Instead of dragging it to the Applications folder, and then opening it through Finder or in the Applications folder, I can just right click the Wally app or right-click and press Open, and it works!

[2020-06-23 13:43] fdidron commented on #34
Hello, the binary was signed https://github.com/zsa/wally/releases/download/1.1.3-osx/wally-osx-1.1.3.dmg . Can you download it and give it a try ?

[2020-06-23 13:46] fdidron commented on #27
Hello, reopening this issue.
I was able to have the binary signed by Apple . Can you download it again from here: https://github.com/zsa/wally/releases/download/1.1.3-osx/wally-osx-1.1.3.dmg and give it a try ?

[2020-06-24 02:43] mdbernard opened #52 "GUI client hands on "Please don't unplug your board." screen on MacOS in V1.1.3"

[2020-06-24 02:44] mdbernard commented on #52
Does not always get stuck, but never seems to move past this screen when it does (it usually moves past this screen after just a few seconds).

[2020-06-24 02:45] mdbernard commented on #52
Board seems to work just fine with updated layout if Wally is closed after a minute.

[2020-06-24 12:34] arcaartem commented on #52
When it gets stuck, do you see a little red notification towards the bottom rightish corner of the app? If so, might worth checking the logs to see if you're facing a similar issue to this one: https://github.com/zsa/wally/issues/3

[2020-06-25 01:29] fdidron commented on #52
@mdbernard I think @arcaartem is right this is similar to #3
I'm working on a fix for that, but until then, it is totally fine to unplug / plug the board at this stage

[2020-06-25 19:34] JasonMFry commented on #34
I actually was able to download it several days ago, I don't remember when exactly but I think it was at least 10 days ago if not longer. But Apple didn't complain that it was unsigned when I tried to open it. But maybe I'm misremembering and it was less than 10 days ago. Either way it's working, thanks!

[2020-06-25 19:35] #34 closed

[2020-06-26 16:09] xaocon opened #53 "Bad checksum for wally on homebrew"
Hi,

I tried to use homebrew to install on 2 different OSX systems and deleted the cached version and tried again. Each time I get the same SHA for the download which is different from the one expected in the formula. I am fully up to date on brew. I'm not sure this is the right place for this but I was concerned there was a small chance that this was a security issue so wanted to inform as quick

[2020-06-26 22:12] xaocon commented on #53
Looks like it's probably just related to https://github.com/zsa/wally/issues/27#issuecomment-648159483

I'll leave this open since you'll probably still want to fix the cask.

[2020-06-27 00:03] fdidron commented on #53
@xaocon Ohhhh good point, thanks for reporting, I'll update the cask.

[2020-07-04 15:21] turion opened #54 "handle_events: error: libusb: interrupted [code -10]"
I tried flashing my brand new ergodox with firmware downloaded from https://configure.ergodox-ez.com/ergodox-ez/layouts/ABWd0/latest/0:

[code]
I pressed the reset button a few times, but it didn't help.

[2020-07-04 15:21] turion commented on #54
Needless to say, my keyboard doesn't work anymore now.

[2020-07-11 18:50] core-code opened #55 "Multiple issues with Info.plist on macOS"
the app has no version numbers. all Mac apps are supposed to have version information so that users can look at the version number in the Finder and so that the system can determine the newest version when more than one is installed

1.) the CFBundleVersion is missing in the Info.plist file
2.) the CFShortVersionString is missing in the Info.plist file
3.) the CFBundleGetInfoString has been deprec

[2020-07-15 18:18] flyinggrizzly opened #56 "Webkit and X window system issue on Ubuntu 20.04"
I've just followed the Linux setup instructions, and tried to flash a new firmware, and hit this:

The system is a fresh Ubuntu 20.04 install. I'm not sure what else you need, but I'm happy to provide more system information!

[code]
This only appears if I start the Wally gui from the terminal--if I double-click the icon in the file browser, the errors don't appear.

In either case, Wally launches

[2020-07-15 23:41] fdidron commented on #56
Hi thanks for reporting,

There seems to be 2 issues here, the X window one is a known issue coming from a dependency Wally is using. Once an update lands, I will update Wally.

As for Wally not detecting your boards, can you confirm 2 points :
1. Did you set the udev rules as explained here: https://github.com/zsa/wally/wiki/Linux-install#2-create-a-udev-rule-file
2. Is your board connected direc

[2020-07-16 07:10] flyinggrizzly commented on #56
Hi, no worries. I appreciate all the work y'all put in.

Yes, it was a straight copy-paste. I've got an Ergodox EZ Original (no lights), with plate-mounted switches, if it matters. I did not remove the Planck entries from the rules.

Originally via hub, but then when it failed to find the board I made a direct connection, and it still couldn't find the board. I waited a good few minutes too. The b

[2020-07-16 21:03] goalaleo commented on #26
I'm also on MacOS and the first time I tried to flash my keyboard, it didn't work at all - loading bar was stuck at 0%, and console showed `error while sending firmware bytes: libusb: pipe error`.

I replugged the keyboard, and now the flashing worked, but there's an error at the end when it tries to reboot
![Screenshot 2020-07-17 at 0 02 54](https://user-images.githubusercontent.com/3275302/87722

[2020-07-21 17:41] CodingDive commented on #42
I get the same error every time I try to flash. Setting the flag, unplugging and restarting my machine did not help

[2020-07-21 20:58] CodingDive commented on #42
Related to https://github.com/zsa/wally/issues/25. When I plugged the keyboard straight into my PC instead of an extra USB hub, it worked on first attempt. :)

[2020-07-22 09:42] stoneman opened #59 "wally-cli exit code 5"
The cli is exiting with code 5 and not producing any output when run either with no arguments or with the path to a `.hex` file.

I'm using macOS 10.15.5, have libusb 1.0.12 installed and am using v1.1.3. The GUI works fine.

What might the problem be?

[2020-07-22 09:43] mykter commented on #25
I had intermittent issues with my Ergodox and using a hub, on Linux and Windows. Sometimes I even experienced the right half of the keyboard working and the left seemingly being without power (no lights). I've resorted to a direct connection (which is more effort than it sounds, as I have to switch it between machines several times a day).

[2020-07-25 01:01] cullyn-inverba opened #60 "Wally no longer finding PlankEZ."
I've had an Plank for several months now and have done hundreds of flashes at this point, but suddenly wally can no longer find my keyboard.

I'm using Arch linux and I reinstalled the Aur package, made sure the udev wasn't edited and is still valid, and downloaded the latest version of wally. Still no luck. I recently installed a large group of updates via package manager, but I couldn't find any

[2020-07-27 20:42] cullyn-inverba commented on #60
Rolled back to date before updates and issue is gone, even after applying updates again. Not sure what issue was. Possible I had broken it some other way and not known and updates had nothing to do with it.

[2020-07-27 20:42] #60 closed

[2020-07-30 09:14] andyhunne opened #61 "Need udev rules for moonlander please"
Ordered my moonlander mk 1 today - would love to see this updated for the moonlander as well.

[2020-07-31 04:37] fdidron commented on #61
Hi @andyhunne

First many thanks for getting a Moonlander !

I updated the udev rule for Live Training. For Wally's flashing the udev rule doesn't need to change because we are using the same mcu the Planck uses.

I'm also currently updating Wally to support the Moonlander, it should be out in a couple days now. Closing this for now, feel free to reopen if you have any questions.

[2020-07-31 04:37] #61 closed

[2020-07-31 06:12] fdidron commented on #55
@core-code Thanks for reporting this, it is now fixed on the new OS X Release https://github.com/zsa/wally/releases/tag/2.0.0-osx

[2020-07-31 06:12] #55 closed

[2020-07-31 06:15] fdidron commented on #30
Thanks @ngirard , wiki is updated

[2020-07-31 06:15] #30 closed

[2020-07-31 06:32] fdidron commented on #53
Hi @xaocon waited to release v2 of Wally, the cask should be updated soon:
https://github.com/Homebrew/homebrew-cask-drivers/pull/1677

Thanks again

[2020-07-31 06:32] #53 closed

[2020-07-31 06:44] fdidron commented on #27
A new version of Wally for OSX is available here, it is now signed by Apple, so this kind of issue shouldn't happen anymore https://github.com/zsa/wally/releases/tag/2.0.0-osx

[2020-07-31 06:44] #27 closed

[2020-07-31 08:28] core-code commented on #55
thanks! i can confirm this is resolved in version 2.0.0

[2020-07-31 10:43] synaptiko opened #63 "CLI doesn't seem to be available anymore"
I was about to update https://aur.archlinux.org/packages/zsa-wally/ but I do not see `wally-cli` binary available anymore and `main/cli.go` fail which is mentioned in [README.md](https://github.com/zsa/wally#compile-the-cli) doesn't seem to be present.

Was it removed? Is there any replacement for it? I personally was using it quite often when fine-tuning my mappings for ErgodoxEZ in QMK.

[2020-07-31 10:47] fdidron commented on #63
@synaptiko Wally 2.0.0 GUi was a big rewrite, and I'm currently working on moving some of those changes to the cli. I also might put the cli in its own repo. I'm keeping this open for now and will let you know once it's ready.

[2020-07-31 10:50] fdidron commented on #63
And I use the cli too, so you can bet it's here to stay :)

[2020-07-31 11:22] curtism99 opened #64 "2.0.0 Will not run on OS X Catalina"
I downloaded the new Wally 2.0, copied it to my local Applications folder, and double clicked to launch.

I receive a popup error that the title is "Wally cannot be opened because of a problem."

The body text of the error is: "Check with the developer to make sure Wally works with this version of macOS. You may need to reinstall the application. Be sure to install any available updates for the ap

[2020-07-31 11:25] fdidron commented on #64
Hi @curtism99

There should be a button to get the full log, could you paste the log in here ? thanks

[2020-07-31 11:27] curtism99 commented on #64
@fdidron
Here is the full log in the error report upon opening.
[code]

[2020-07-31 11:33] fdidron commented on #64
@curtism99 Super helpful, I'm working on a fix right now

[2020-07-31 11:51] fdidron commented on #64
Allright @curtism99 I updated the dmg, can you download it again and let me know if it works for you ?
https://github.com/zsa/wally/releases/tag/2.0.0-osx

[2020-07-31 12:44] curtism99 commented on #64
@fdidron
Yes! I am able to open the app. Though, I have another problem. i've run into this before with this keyboard, so I actually have never gotten it working properly. I had just a random idea to try it again today.

So this is probably another issue, or need help with customer support. I can now open Wally 2.0 but it just gets frozen on the "Looking..." stage. IT does not find any compatible

[2020-07-31 13:00] fdidron commented on #64
@curtism99 Are you able to plug your Ergodox directly to the Mac (without using the lighting to usb adapter) and try if Wally's able to detect your keyboard.

[2020-07-31 14:52] curtism99 commented on #64
@fdidron No, I unfortunately cannot. My model of MacBook Pro doesn't have any typical USB 3 ports. It only has 4 USB-C/Lightning ports on it for charging, usb, hdmi display output, etc. and adapters are needed for most things.

I did find a Reddit thread mentioning this, and they recommended the right kind of cable to go directly from the Ergodox keyboard to USB-C [for about $10 on Amazon](https:/

[2020-07-31 20:35] jsampson45 opened #65 "Ubuntu newbie"
The Github page is truncated, ending with "on" - on what?

[2020-07-31 22:29] fdidron commented on #65
Which GitHub page ?
GitHub <notifications@github.com> wrote:
“The Github page is truncated, ending with "on" - on what?”

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-02 00:18] fdidron commented on #65
@jsampson45 my bad it was on the wiki. I updated it thanks !

Were you able to use live training on Ubuntu ?

[2020-08-02 00:28] fdidron commented on #64
@curtism99 Got it, I think a good alternative would be to flash using [Teensy loader](https://www.pjrc.com/teensy/loader_mac.html) . They seem to interact with USB in a way that avoids most issues with hubs / dongles. It's a safe option, it's the tool developed by the Ergodox's MCU manufacturer.

I'm looking into refactoring Wally's usb code for Mac and Windows to tap into native APIs and avoid su

[2020-08-03 13:42] owiefawefoeiwf commented on #39
on master, i get

[code]

[2020-08-07 21:55] dc5048 commented on #26
Same issue on a 2019 MB running Catalina 10.15.6 + USB hub.
I get the -1 i/o error.
Flash does appear to have been successful though.

[2020-08-12 15:11] ayisakov opened #67 "Unable to flash ZSA Planck on Windows 10 1903"
I cannot flash my Planck using Wally 2.0.0 on Windows 10 1903 64-bit.

Wally recognizes that a Planck is plugged in on startup. I load the firmware file, and Wally tells me to press the reset button on my Planck. Nothing happens when I do so. The following lines loop forever in the console:

[code]

I usually have it connected via a USB 3.0 hub and A/B switch. I connected it directly to the comput

[2020-08-15 14:45] flyinggrizzly opened #68 "Shifted punctuation map issues on OS X 10.14.6 Mojave for Moonlander"
Hi,

Not sure if this is the right place for this, so sorry if it's not.

I've just remapped my Moonlander, and there are some issues showing up on OS X, but not Ubuntu (20.04). Haven't tested Windows since I don't have immediate access to a Windows machine.

This is the layout: https://configure.ergodox-ez.com/moonlander/layouts/PpJ6l/PD99L/0

![Screen Shot 2020-08-15 at 15 46 14](https://user-im

[2020-08-17 07:28] flyinggrizzly commented on #68
Update 2020-08-17:

I just realized that I had Karabiner running on my Mac, set to switch `:` and `;`, and the reason that it wasn't intercepting it on the Dox was that I had made an exception for it because the layout already does that. 😅

Sorry for any worry!

[2020-08-17 07:28] #68 closed

[2020-08-20 19:13] ayisakov commented on #67
[This](https://github.com/Ralim/ts100/issues/298#issuecomment-659215942) may be my issue. I do have Thrustmaster USB devices connected to that machine, and the Guillemot driver immediately replaces any other driver I install for the bootloader, even if I tell Windows to remove the driver.

[2020-08-26 22:27] mejibyte commented on #63
Hi there, any updates around bringing the CLI back? Thanks!

[2020-08-28 15:28] chrisfair commented on #63
Hey fdidron I see what you are doing here I think I might be able to help with this issue how do I go about adopting it?   I have 6 kids and a mainline job of course but if nobody else gets on it I think that I can.   The first thing we can do is move the wally dir into it's own repo.   At that point I can write the cli interface pretty easily I think.   If wally is in its own repo then a small ad

[2020-08-30 20:05] samuela opened #69 "Nix package for Wally"
It would be great to have a Nix derivation/package for Wally! That would also solve the install process across many different distros.

[2020-09-03 02:18] kkutsner opened #70 "Windows 10: Script error is popping up and leaves window blank"
On the screenshot below you can see an error that I'm getting:
![image](https://user-images.githubusercontent.com/2157905/92063680-94edcb00-ed50-11ea-9a0e-b358fc32edcc.png)

[code]

Was trying to grab the binary info but it appears to empty:
![image](https://user-images.githubusercontent.com/2157905/92063873-15143080-ed51-11ea-8cfb-a5e6933a59dd.png)

[2020-09-09 19:04] lawfuller commented on #3
I get the same error on Windows 10.0.19041 Build 19041. The keyboard's driver info is attached.
![driver](https://user-images.githubusercontent.com/71037077/92642119-bd744880-f2ad-11ea-8c15-d03b55226256.png)

[2020-09-14 08:34] mihaiolteanu commented on #63
Well, this is annoying.

[2020-09-16 04:15] maledyris opened #71 "Suggestion: Wally should offer a setting or toggle to delete firmware file after flashing"
This is just a suggestion, but one thing I noticed after working on my new Moonlander for awhile, chances are you're going to be flashing a lot after you get your new keyboard as you test and tweak. Pretty soon your Downloads folder is littered with firmware files. It would be nice to have an option to have Wally automatically delete the file after flashing, especially considering the file can be

[2020-09-25 10:36] fdidron commented on #63
Hello, I moved the cli to its own repo here: https://github.com/zsa/wally-cli and added support for the Moonlander as well.

@chrisfair thanks for the offer, if there are things you want to add to the cli or improve, we can move the discussion to the new repo.

[2020-09-25 10:36] #63 closed

[2020-09-28 16:28] xxxserxxx commented on #3
Just FYI, in case it helps at all -- it's not just dongles. I have an XPS connected to a Kensington USB-C dock (over USB-C) that behaves the same. The dock's providing 2x external monitors, power, and all peripherals over USB-C.  There's no DisplayLink in the mix - it's all native.  The dock is not Thunderbolt compliant, so I can't test whether it behaves the same over TB.

The laptop is running A

[2020-09-29 09:24] steveeJ opened #72 "Trying to build the CLI for v2 on Linux"
I'm trying to update the package definition for [_wally-cli_ on nixpkgs](https://github.com/NixOS/nixpkgs/blob/b5dc07a4b471e6f651af3b13e4bd841b6b3ea6ed/pkgs/development/tools/wally-cli/default.nix) and I'm confused by the state of this repository, so someone please help me out with the following questions :slightly_smiling_face:

Is there still a CLI in v2?
If so how do I build only the CLI part o

[2020-09-30 23:45] fdidron commented on #72
Hi @steveeJ

I moved the cli to its own repo. You can find it here https://github.com/zsa/wally-cli

Can you give it a try and open an issue there if you need help ?

Thanks

[2020-09-30 23:45] #72 closed

[2020-10-02 21:38] codygman commented on #54
I also got this error using the package from nixpkgs referenced in #19. Luckily for some reason my keyboard is still working (maybe I Didn't hold reset long enough).

[2020-10-03 12:08] steveeJ commented on #72
Thanks @fdidron, I didn't see that repo. Maybe you could add it to the README here?

[2020-10-08 10:46] snitko commented on #20
I've just experienced this issue after downloading wally v2.1.0. Yesterday it worked just fine. Now, granted, it was a different PC (same Ubuntu though), but I moved to a freshly installed Ubuntu 20.04 on a new PC and downloaded the latest version of Wally. When attempting to run it, the console output is this:

[code]

Attempting to install the firmware results in more errors identical to this. I

[2020-10-08 11:12] fdidron commented on #20
Hi @snitko can you confirm at which step do you get in Wally ? Do you get to the step where it asks you for a firmware ?

[2020-10-08 11:17] snitko commented on #20
Yes, I get to that step where it asks for a firmware. However, I get that error even before that step if I open console - it's there from the start. And if I proceed and select the file, it would just endlessly print that error without updating the keyboard.

[2020-10-08 11:22] fdidron commented on #20
Got it, trying to confirm things steps by steps, once you choose the firmware and pressed the keyboard's reset button, it still loops to that error ?
Also can you paste in the result of `lsusb` after pressing the keyboard's reset button

[2020-10-08 12:25] snitko commented on #20
Alright, so I checked everything in the following order:

1. Two keyboards connected (Ergodox and a regular one - I tried with Ergodox only, but it stops working after I press reset, so I needed another one to enter `lsusb` command)

2. run 'wally`

3. On step on, I go to the console an see the above mentioned error message. Then go back to the GUI.

4. It allows me to get to step 2 and pick a fil

[2020-10-08 16:20] ruben00001 opened #75 "Configurator doesn/tpy/"

[2020-10-08 16:24] #75 closed

[2020-10-09 17:16] core-code opened #76 "version number of macOS release 2.1 broken"
see screenshot, the version displayed in the Finder is still 2.0

the CFBundleVersion is set to 2.0.0 but should be set to 2.1.0
the  CFBundleShortVersionString is missing completely but should be set to 2.1.0 (because of this the Finder will only show the version number in QuickLook but not in ColumnView or GetInfo)

<img width="274" alt="Screenshot 2020-10-09 at 19 14 54" src="https://user-image

[2020-10-10 13:07] ksoda opened #77 "Feature request: change the terminal icon when an error occurs"
I want to change the terminal icon when an error occurs in order to get people to look at the console log.
Use case: The cases I encountered were as follows. There was no response when I pressed the reset button. Actually, there was an error "libusb: bad access". But I didn't notice it immediately. I solved the problem by getting to the manual page.

![Screenshot from 2020-10-10 21-40-422](https:/

[2020-10-12 09:46] davidia opened #78 "libusb error when flashing moonlander"
Trying to flash my Moonlander for the first time on Ubuntu, Wally just gets stuck in a loop:

[code]

Any ideas? Thanks!

[2020-10-12 09:52] davidia commented on #78
I was lacking the udev rules, maybe a more descriptive error message would help?

[2020-10-12 09:52] #78 closed

[2020-10-12 10:11] HashNuke opened #79 "Planck EZ does not respond after trying to upload new layout with Wally 2.1.0 on MacOS"
* Planck EZ (last flashed keyboard layout with Wally 2.0.0)
* Mac OS: 10.15.7

## Steps to reproduce issue
* Downloaded my [new layout](https://configure.ergodox-ez.com/planck-ez/layouts/pbbaE/latest/config/)
* Downloaded new version of Wally (2.1.0)
* Opened Wally and dropped new layout file
* Wally says: "Press reset button on keyboard"
* Pressed reset button on keyboard with pin
* Keyboard ligh

[2020-10-12 10:44] HashNuke commented on #79
Closing issue.
Got it working after trying a bunch of things multiple times. Not sure what worked and in what combination.

*Posting these here if it is of any use.*
* Press reset button for 10 seconds (Assuming this is standard and would actually reset layout/firmware/state)
* Disconnect and reconnect
* Perform a PRAM reset on the mac (cmd+option+R+P when rebooting Macbook Pro)
* Reboot Macbook P

[2020-10-12 10:44] #79 closed

[2020-10-14 07:34] The-Mooncake opened #80 "'Disable RGB When Suspended' Not Working on Wally V2.1 and Ergodox EZ"
RGB lighting does not turn off when my computer enters powers off, the keyboard still believes the computer is using it. This only occurred after the latest wally update, v2.1. I am using an Ergodox EZ and running Windows 10 Pro Build 10.0.19041.

[2020-10-15 09:00] The-Mooncake commented on #80
Confirmed the RGB lighting disables after layout recompile.

Thanks for the help @fdidron.

[2020-10-15 09:00] #80 closed

[2020-10-21 14:43] mrtndwrd commented on #56
Hi, I'm also running into the X Window System error:

[code]

Any way to work around this? Or is there an older Wally version I can also use with newly downloaded layouts? Thanks!

[2020-10-24 06:41] draftcode opened #81 "ChromeOS instruction page at Wiki"
wally-cli works well with ChromeOS's Linux support. Adding an instruction would help some people. At first, I also didn't realize that I could do that.

# Steps

1. Enable "Linux (Beta)" in Chrome OS settings.
2. Download [wally-cli](https://github.com/zsa/wally-cli/releases) and a firmware file into the Linux folder.
3. `chmod +x wally-cli`
4. `./wally-cli FIRMWARE_FILE.bin`
5. Press the reset bu

[2020-10-30 17:09] pjroth opened #82 "Ubuntu instructions don't work on 20.04"
The https://github.com/zsa/wally/wiki/Linux-install wiki page for Ubuntu says to run:
`sudo apt install gtk+3.0 libwebkit2gtk-4.0 libusb-dev`

I get the following when running:
[code]

[2020-10-31 18:27] ezebunandu commented on #82
Ran into this as well. If installing only libusb-dev works, then fix would be to edit the reference in the instructions to these two packages.

[2020-11-03 11:43] danorjan commented on #70
I have the same issue! :/

[2020-11-04 14:51] locriacyber opened #83 "UI won't show when placed in /usr/bin/"
This is a strange issue. I downloaded the wally executable for Linux and was able to use it when it was placed inside my home directory. But somehow, when I tried to copy it to `/usr/bin/wally`, it only shows its gradient background with normal window decorations (border). Why? I reckon this is due to a bug which bricks this software when its permission is owned by `root`, or related to directory

[2020-11-05 18:14] vitvakatu commented on #3
same issue here on MacOS Catalina. @fdidron do you need any help with this?

[2020-11-09 02:38] locriacyber commented on #83
When placed in `~/Desktop/a/b`, **sometimes** it doesn't work. This is undeterministic.

[2020-11-10 00:20] Zie0 commented on #82
seems the dependencies for Wally aren't found in ubuntu repository. replicated on Pop!_OS 20.10 (derivative of Ubuntu). please fix

# To Reproduce
0. Update indices and Upgrade Packages
`$ sudo apt update && sudo apt upgrade -y`
1. Install packages outlined in [these instructions](https://github.com/zsa/wally/wiki/Linux-install#12-debian-and-its-derivatives-ubuntu-kali-)
`$ sudo apt install gtk+3.

[2020-11-11 17:41] locriacyber commented on #83
It's solved.

[2020-11-11 17:41] #83 closed

[2020-11-12 18:55] gpid007 opened #84 "compile wally-cli for arm linux raspberrypi"

[2020-11-15 11:16] atd opened #87 "Flashing not working in Debian"
Using Debian testing with wally V2.1.0

After downloading the firmware file, selecting it, and pressing the reset button in my moonlander keyboard, nothing happens. A green light just shows up in the keyboard.

The output of the wally console:

[code]

Last message keeps appearing every second

In the `/var/log/syslog`, after pressing the reset button:

[code]

[2020-11-16 13:38] atd commented on #87
The problem was the USB cable being plugged though this [HDMI KVM switch](http://www.pwaytek.com/en/product/products-0-20.html)

Connecting the USB cable directly to the computer solves the problem, the bootloader shows up and I can flash the firmware! :tada:

[code]

[2020-11-16 13:38] #87 closed

[2020-11-21 09:28] alon91 commented on #81
I love Chrome OS and now use it exclusively, which means I own zero Windows or Mac devices. I've just enabled Linux on my device but am not having luck with the instructions above. Would love to improve the guidance so others who are similarly struggling can figure it out in the future. Here's what I'm seeing, with screenshots:

**1. Enable "Linux (Beta)" in Chrome OS settings. ✅**
![image](https:

[2020-11-22 23:52] xa888s commented on #81
You spelled cli wrong, should be ./wally-cli not ./wally-clie

[2020-11-23 00:23] jimpriest commented on #81
When I download wally on Linux I get 'wally'  not 'wally-cli'

Then you just make it executable via the chmod + x wally

And finally run it:  ./wally

And a gui should popup on the screen.   You can then select your downloaded .hex file.

I don't have a Chromebook to test with but I just flashed my Ergodox this evening and these were the steps using Ubuntu Linux.

[2020-11-23 01:37] JessicaSachs commented on #38
Hmm, would be helpful to know what the oryx key was from the error message. I'm googling around.

[2020-11-23 02:40] random-un commented on #81
🤦 wow thanks for catching that really dumb mistake! Appreciate the suggestions from both you and @jimpriest. I'm making progress here, although continue to run into problems with both `wally-cli` and `wally`:

## wally-cli
When I enter `./wally-cli test.hex` I now see the message:

The first character with the dots is animated. When I hit my keyboard's reset button the keyboard's Glow LEDs freeze

[2020-11-23 03:37] draftcode commented on #81
Did you follow this instruction?

[2020-11-23 14:31] jimpriest commented on #81
libwebkit2gtk-4.0.so.37 looks like some kind of gui/web library which must be missing in Chrome Linux.   So wally-cli is the way to go.

[2020-11-24 00:02] fdidron commented on #84
Fixed by #86

[2020-11-24 00:02] #84 closed

[2020-11-24 00:16] fdidron commented on #81
@draftcode Thanks a lot for the instructions, I'm going to add that to the wiki.

@random-un Here are my answers inline:

These instructions are for the cli indeed, so the binary you want to download can be found here: https://github.com/zsa/wally-cli/releases

This is correct, Oryx coverts your layout into a firmware file (.hex for the Ergodox, .bin for the Moonlander/Planck) that is ready to fla

[2020-11-24 05:28] draftcode commented on #81
I feel like it'd be difficult to make the GUI version work on the ChromeOS's Linux container. I wouldn't say it's impossible, but harder than installing the CUI version.

Technically, what Wally does should be possible with WebUSB. This means that Oryx can directly interact with the keyboards and write the firmware. Considering that ZSA created a training program with that (https://blog.zsa.io/191

[2020-11-24 07:30] fdidron commented on #81
@draftcode I developed the webusb implementation of QMK and Oryx. Webusb forbids to claim hid devices, and unfortunately the Ergodox MCU only exposes an hid endpoint when in reset mode.

I agree with you, being able to flash directly from Oryx would have been neat especially for Chrome OS.

Do you know if it is feasible to run GTK apps on the Chrome’s OS container ?

[2020-11-24 08:03] random-un commented on #81
I'll continue to thank you for all this advice! And also really appreciate these further conversations on potential improvements of flashing in Chrome OS. Quick updates:

@fdidron asked:

and @draftcode originally suggested:

Unfortunately clicking the reset / flash button on my keyboard doesn't trigger a pop-up on my machine. The keyboard's LED animation stops and the keyboard no longer sends key

[2020-11-24 14:19] jimpriest commented on #81
Did you do the steps mentions in Linux install for adding udev rules, etc?   I just did this last night on my other linux box and had the same issue - ran Wally and hit reset button on keyboard but nothing happened. Then I remembered I needed to do this additional config.  I'm assuming Linux on ChromeOS would have the same requirements.

https://github.com/zsa/wally/wiki/Linux-install

[2020-11-24 17:41] draftcode commented on #81
Ah, I see. I assumed that it'd be same as Moonlander. In that case, I don't think this instruction works for @random-un, as they seems to have Ergodox. Chrome OS apparently won't let us pass USB HID devices to the Linux sandbox as well. This instruction works only for the keyboards whose reset switch makes it switch to the bootloader mode.

I found that some people ran GIMP on Chrome OS (searching

[2020-11-25 03:02] #70 closed

[2020-11-25 03:03] fdidron commented on #67
Hi Ayisakov

There's a new version of Wally for Windows here https://github.com/zsa/wally-win . Can you try to stop all Guillemot / Thrusthmaster services, Install the new version and give it a try ? Feel free to open a new issue in the new repo if needed.

[2020-11-25 03:03] #67 closed

[2020-11-25 03:06] fdidron commented on #25
Hi @mykter  @Deltatiger  @sajjad

There's a new version of Wally for Windows here https://github.com/zsa/wally-win . Rewritten using native technologies, it should fix that kind of issues. Feel free to open a new issue in the new repo if needed.

[2020-11-25 03:06] #25 closed

[2020-11-25 03:12] fdidron commented on #3
@xxxserxxx @lawfuller @jaredpar @astrelochnik @thestillheron @borkyborkbork1
There's a new version of Wally for Windows here https://github.com/zsa/wally-win . Rewritten using native technologies, it should fix that kind of issues. Feel free to open a new issue in the new repo if needed.

I'm starting the same rewrite for OS X (Including support for M1 Chips).

[2020-11-25 03:13] fdidron commented on #22
@Paillard

There's a new version of Wally for Windows here https://github.com/zsa/wally-win . Rewritten using native technologies, it should be compatible with Windows 7. Feel free to open a new issue in the new repo if needed.

[2020-11-25 03:13] #22 closed

[2020-11-25 03:15] fdidron commented on #14
@zored
There's a new version of Wally for Windows here https://github.com/zsa/wally-win . Rewritten using native technologies. We are accepting PRs for alternative distribution channels like Chocolatey in the new repo

[2020-11-25 03:16] fdidron commented on #7
Closing this one for now since Native rewrites of Wally such as https://github.com/zsa/wally-win implements the erase.

[2020-11-25 03:16] #7 closed

[2020-11-25 14:38] fdidron commented on #3
A quick question to everyone using Mac OS subbed to this thread, are you using OS X Catalina / Big Sur ?

I'm asking because Apple deprecated accessing usb devices via IOKit starting from Catalina, and if I choose to use the recommended way, Wally's rewrite will only be running on Catalina+ releases.

[2020-11-25 16:03] arcaartem commented on #3
I'm on Catalina at the moment and probably will continue hold off upgrading to Big Sur for a while.

[2020-11-25 17:15] lawfuller commented on #3
Thanks for working on this!

BTW, you may want to state somewhere that this requires a system restart. Before I restarted Windows, the updated Wally didn’t work. When I tried to flash a new bin, I got error 5. Sometimes I got error 121.

11:50:44 - Error - Device handle no good. Error code: 5

11:50:44 - Info - Target stm32 found, the keyboard is in reset mode.

11:50:44 - Info - Starting flash pr

[2020-11-25 19:11] random-un commented on #81
One final comment from me for now: I got further confirmation on other threads / investigations that the Ergodox EZ can't be flashed with Wally on Chrome OS's Linux virtual machine. As mentioned in this thread, it has to do with how forwarding USB HID devices to the Linux VM is currently disallowed by policy on the operating system.

I'd love to see a solution for this, as for now I have to use a

[2020-11-26 08:24] stoneman commented on #59
The new wally-cli works: https://github.com/zsa/wally-cli

[2020-11-26 08:24] #59 closed

[2020-11-27 00:32] kernel-io commented on #20
I'm experiencing the same problem while trying to flash my ErgoDox within Fedora 33

[2020-11-27 09:42] mrtndwrd commented on #56
I just found out that I didn't have `libwebkit2gtk-4.0-37` installed. I'm reasonably sure I fixed this problem by running `sudo apt install libwebkit2gtk-4.0-37` (but I also re-downloaded `wally`, so I'm not sure if anything else changed.

[2020-11-30 18:51] sklum commented on #3
I'm on Big Sur on an M1, can't get the Moonlander to connect at all.  Happy to help with testing.

[2020-12-01 03:11] psionic-k opened #88 "Nix Packaging & README"
Recommend linking full `zsa/wally-cli` in the README to make it more obvious that this is a different repo

I've made a nix package and NixOS configuration for the USB udev rules and uploaded it here:
https://github.com/positron-solutions/wally-cli

I'm going to upstream these to nixpkgs, but feel free to link.  I will update this issue with recommendation to link directly to nixpkgs once I finish

[2020-12-01 11:04] haukepauke commented on #26
I have a similar issue.
Tried to flash my keyboard. Got the error "Error while sending firmware bytes: libusb: i/o error [code -1]".
Since then the keyboard stopped working. Starting wally with connected keyboard does not work anymore.

Starting Wally without keyboard connected works. When connecting the keyboard after wally has started it is recognized. However when selecting a keyboard layout, w

[2020-12-01 21:00] lionelbroche opened #89 "Moonlander keyboard bricked after using Wally v2.1.0"
Hi,
I just tried flashing my moonlander keyboard using Wally. I got a .hex file from the Oryx website and tried flashing it. Wally did not accept .hex file so I renamed it .bin and started the flashing process. It completed successfully but the keyboard is now unresponsive.
Is there a factory reset capability on the keyboard, and what went wrong with the process?

[2020-12-02 01:33] psionic-k commented on #69
This exists and solves the immediate pain
https://github.com/positron-solutions/wally-cli

I'm working on upstreaming in #88 and then will PR the README's for both repos

[2020-12-02 05:05] psionic-k commented on #88
All that remains is mentioning the workflow and wally-cli repo in the README.

There is an open PR for the udev rules for NixOS here:
https://github.com/NixOS/nixpkgs/pull/91203/files

A packaging of the `wally-cli` already exists in nixpkgs, was added here:
https://github.com/NixOS/nixpkgs/pull/73960

Many of the nix packaging issues like #69 #19 look ready to close

[2020-12-02 11:59] lionelbroche commented on #89
As an aside, it is not straightforward to find some documentation about recovery processes. If that can help, I managed to reflash the keyboard after pressing the reset switch between the moment the keyboard is powered and the start of the flashing process. This makes the keyboard discoverable.

[2020-12-02 12:47] lionelbroche commented on #89
ok, the problem is not really with Wally but with the ergodox-ez.com website. When downloading a layout you have to be logged in to get a bin file, otherwise it gives a hex file. I assumed thet were equivalent, but they are definitely not. Not sure if this is something to mention here then.

[2020-12-03 20:03] sagz opened #90 "WebUSB support for Moonlander"
Hi, is it possible to flash the keyboard and customize the layout etc with WebUSB over Chrome/Edge? Would also unlock ChromeOS support.

Got the idea from https://webadb.com/

[2020-12-04 07:34] psionic-k commented on #39
There's a nix package for the CLI tool, and it supports build on darwin

https://github.com/NixOS/nixpkgs/commit/b79b4c0eb09932669a731410bb1df773cd03336e#diff-b7566fd6e5332659593394be61161a5a3d7a1c3846a4c5e7f422dccd52a9691f

Suggest adopting nix over homebrew for better reproducible builds.  Just `nix run nixpkgs.wally-cli -c 'wally-cli path/to/my/rom.hex'` once you have nix installed

[2020-12-05 21:25] stinethebean3 opened #91 "Universal udev rules for linux, does not require custom group"
The current udev rules rely on a custom group, "plugdev", which is an obsolete strategy because udev has built in support for uaccess tagging for several years now.

The rules I recommend and have tested to work are as follows:

[code]

You also don't need the user to log out, but just need the user to restart udev, which is as follows:

[code]

Finally, unplug and plug back in the keyboard to mak

[2020-12-06 23:41] fdidron commented on #81
@draftcode Here is the wiki page: https://github.com/zsa/wally/wiki/Wally-on-ChromeOS

[2020-12-06 23:41] #81 closed

[2020-12-08 19:17] sagz opened #92 "Allow a way to auto convert Ergodox layouts to Moonlander"
Hi, I'd like to be able to utilize the vast community of Ergodox layouts for moonlander. Is there a solution for this apart from manually recreating all the layers?

[2020-12-08 22:27] curtisbelt commented on #91
Thanks - this works perfectly on Fedora. I actually didn't get the original rules to work for some reason, but this did. :+1:

[2020-12-10 22:45] TheNerdyHamster commented on #3
I do have the same problem on Archlinux with wally 2.1.0.
But when I unplugged the keyboard and plugged it in agian. everything worked fine.

[2020-12-11 15:53] xxxserxxx commented on #3
**Wally**: *2.1.0-10*
**Installed from**: *Arch AUR*
**OS**: *Linux 5.9.12-arch1-1*
**KB**: *2017 Ergodox EZ Shine*

It doesn't hang anymore.  I see only two issues, which I don't know are related:

1. Now the transfer progress bar doesn't complete; it's always short by a couple Kb.  However, I haven't yet detected any bindings that don't work, so I've been assuming it's just a UI issue.
2. The gl

[2020-12-16 09:57] fdidron commented on #3
Hello, some progress on Wally's rewrite for OSX

We have been testing a cli version internally and you can now find it here:
https://github.com/zsa/wally/releases/tag/3.0.0osx-beta

To use it, open a terminal and go to the folder where you downloaded wally-cli. Then run `./wally-cli <path to your .bin file>`

If anyone who had the issue of the keyboard not rebooting and report could give it a try,

[2020-12-16 09:58] fdidron commented on #3
I'm starting work on the GUI now

[2020-12-16 17:02] arcaartem commented on #3
@fdidron I've just gave it a go. Failed with the following error message:
[code]

This is the command line that I used:
[code]

I have recently upgraded to Big Sur

[2020-12-16 18:34] xxxserxxx commented on #3
@fdidron -- some of us have this issue, but on Linux. Is this version intended to only address issues on OSX?  Is there any reason for non-Mac users to give it a try, aside from testing possible cross-platform regressions?

[2020-12-17 10:35] Sir4ur0n commented on #19
Update: @davidak kindly opened https://github.com/NixOS/nixpkgs/pull/91203 a while ago to automatically handle the `plugdev` group creation as well as configuring the udev rules.

I tested it today for my Moonlander and it works well (with an updated Wally Git commit).

Once this is merged, all that's left to do is add in Wally documentation that for NixOS, the steps are:
* Add `hardware.keyboard.

[2020-12-17 12:41] thomasheartman commented on #19
@Sir4ur0n That's great! And thanks for the heads-up on the config change required.

But I'm not sure I follow, so out of curiosity: didn't it work previously with the `wally-cli` that's in nixpkgs? Does the Moonlander require this or is it because of the Chrome connector? Or does it relate to the GUI version of Wally?

I got the Moonlander a little while back myself and can't remember having any i

[2020-12-17 17:03] Sir4ur0n commented on #19
It would be great if others give it a try, but as for me, flashing didn't work on my Moonlander Mk1. When flashing, my keyboard bipped, but the CLI command remained silent (as if still waiting for the reset button to be pressed) and the keyboard no longer worked (required unplugging and replugging the keyboard).

Also, the Chrome connector didn't work: no device was detected on https://configure.e

[2020-12-17 17:40] Mohammer5 commented on #19
Same for me. That's happening because the moonlander requires wally-cli to be at least v2.1.0 while the version in nixpkgs is 2.0.0. The newer version requires some updates, adjusting the version and the hash didn't do the trick for me.

[2020-12-18 09:58] Sir4ur0n commented on #19
With the aforementioned PR and Wally 2.0.0 flashing works (though I still get some errors/warnings), maybe 2.1.0 removes the errors though?

[2020-12-18 17:28] Meelad opened #94 "Can't access "Train" on Oryx website with new configuration via Wally-win 3.0.1"
I have my [layout](https://configure.ergodox-ez.com/moonlander/layouts/omWP4/latest/0) that is essentially the default layout but with some modifications. When I try to train on Oryx I get "Can't claim interface". When I use the default configuration it works fine. I still have the Oryx key configured.

I'm flashing using Wally-win 3.0.1 and the reset button from the default layout (semi-colon + t

[2020-12-18 19:45] Meelad commented on #94
Noticed wally-win has it's ownrepo. Closing this and moving to [here](https://github.com/zsa/wally-win/issues/3)

[2020-12-18 19:45] #94 closed

[2020-12-21 10:31] thomasheartman commented on #19
@Sir4ur0n Right, thanks for the clarification! In that case it's probably that I just haven't tried it flashing it on NixOS yet. Thanks again for the update and the instructions, though; I'll remember these next time I need to  give it a go :smile:

[2020-12-26 09:16] davidak commented on #19
Yes, flashing needs the udev rules to work.

[2020-12-31 11:36] flurdy commented on #20
I was getting the same errors when trying to flash my new Moonlander running on Linux (PopOS 20.04), but I had not followed each step in https://github.com/zsa/wally/wiki/Linux-install.

When I installed `sudo apt install libusb-dev` and extended as suggested the `/etc/udev/rules.d/50-wally.rules` it worked fine. Note the udev rules are more than the steps mentioned to enable Oryx training (https:

[2021-01-01 11:09] shivekkhurana commented on #5
I had to run: `brew install --cask zsa-wally` instead. Why does this not show up in the brew index?

[2021-01-05 13:31] mvdan opened #96 "Consider a fully native Go UI"
I realise this is a big suggestion rather than a bug report, though it is one I thought would still be useful :)

I've been using Wally for a few months since buying a Moonlander, and it's pretty neat. Thanks for maintaining it! I only recently noticed that the UI is actually a web app, which is a bit unfortunate. At least on my Linux box, that pulls in webkit2gtk, which weighs over a hundred mega

[2021-01-05 13:59] whereswaldon commented on #96
I think Gio would be a solid fit for this too! There are some simple in-browser demos of my gio libraries available [here](https://whereswaldon.github.io/gio-extras-index/) to suggest what it can handle, but for a better idea of what's possible, you can look at [gio-example](https://git.sr.ht/~eliasnaur/gio-example) and the other programs that @mvdan linked above.

[2021-01-06 00:04] fdidron commented on #96
@mvdan I agree with you. When I started working on Wally 2 years ago the promise of having a Cross Platform UI was appealing, I wanted to avoid electron, and since webkit2gtk was already installed on the most popular distros (Ubuntu and its derivatives) it seemed like a good compromise. Also I really like the Go Programming language :)

Now 2 years have passed, and I'm not too thrilled about cross

[2021-01-06 00:06] fdidron commented on #96
Also one thing to note, I like the idea of open sourcing a native version for each platform, because while learning how to develop Win / OS X native apps, I realized that there's not so many native open source project doing USB Communication out there. I hope this can benefit someone looking into talking to a USB Device using native frameworks.

[2021-01-06 13:00] mvdan commented on #96
Gotcha, sounds good. I would personally still have gone for a single portable app, but you've clearly already made progress :)

[2021-01-06 16:53] joshmedeski commented on #5
@shivekkhurana you have to tap the cask-drivers first. Run both of the commands below to install Wally with brew:

[code]

[code]

[2021-01-07 12:31] Sir4ur0n commented on #19
Can someone with correct rights update the [Linux wiki page](https://github.com/zsa/wally/wiki/Linux-install) to reflect the needed steps for NixOS please? Then I think we can close this issue?

2.1. NixOS
Add the following to your `configuration.nix` to create the group and udev rules:
[code]

Again, thank you to @davidak :bow:

[2021-01-10 17:33] thomasluquet commented on #26
Same on linux...

[2021-01-16 10:15] Mailaender commented on #91
I can confirm that this works on @openSUSE and it is already used by @darix at https://build.opensuse.org/package/view_file/home:darix:apps/ergodox-wally/no-plug-dev.patch

[2021-01-16 10:17] #91 closed

[2021-01-16 12:29] Mailaender opened #99 "Tagged release 2.1.0 is outdated"
I get

![image](https://user-images.githubusercontent.com/756669/104811861-bed6f400-57fe-11eb-90c4-a910cdd4506c.png)

on https://configure.ergodox-ez.com/

[2021-01-16 12:30] Mailaender commented on #99
Actually, the downloaded version is 2.1.0 still this warning is misleading.

[2021-01-16 12:30] #99 closed

[2021-01-23 22:42] putinscousin commented on #91
This does not work on my machine (Fedora Silverblue 33) with the Moonlander.
I have to add the `STMicroelectronics STM Device in DFU Mode` ID to the udev rules.

I'd suggest adding the following line.
`SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", TAG+="uaccess", TAG+="udev-acl"`

[2021-02-05 19:21] FuzzyCoder opened #101 "Tap Dance Corrupts Firmware"
I attempted to use tap dance on number keys, e.g., tap 1 -> send 1, double-tap 1 -> send F1.  When I update the keyboard firmware the keyboard does not function correctly e.g., some keys do not send anything, some send repeatedly until escaped, lights eon't work, etc.  Using Wally 2.1, and Oryx 2.0.

[2021-02-10 10:09] brunnerh opened #102 "Version without elevated privileges?"
Would it be possible to install/run this application without elevated privileges on Windows?

That would be useful for restrictive work environments.

[2021-02-12 09:48] crockels commented on #82
I get the same, unable to flash keyboard.  Is there a workaround?

[2021-02-13 00:33] dukeofcool199 opened #103 "download latest version of layout and flash"
it would be cool to have an option to have wally automatically download and flash the latest version of a given layout.

I think this would be useful for quickly testing new layout configurations. also it would be useful for easily switching between layouts meant for different environments

[2021-02-13 21:30] dzrw opened #104 "Help - New Moonlander Bricked after 2nd Flash"
My brand new ZSA Moonlander arrived today, and I was successfully able to flash it one time.  On the second attempt, however, it failed and now the device is just useless.  While writing up this report, the laptop also stopped responding and required a complete restart.

## A Successful First Flash Experience

1. Plug in device
2. Use configurator to create a layout
3. Open Wally 2.1 and load layo

[2021-02-13 23:30] dzrw commented on #104
Well I tried it again after rebooting, and it worked! So, not bricked. Now, I'm happily typing at 5 WPM...

[2021-02-13 23:30] #104 closed

[2021-02-15 10:00] sgmmahon opened #105 ""Unable to claim interface" whilst training"
Apologies if this issue has already been addressed elsewhere, I could not find a solution when looking through the issues archive.

I am trying to access [Training](https://configure.ergodox-ez.com/train) for my Moonlander keyboard. However when I try to connect my keyboard I get the following error:

![image](https://user-images.githubusercontent.com/62287767/107931526-4df93800-6f74-11eb-921d-8e5

[2021-02-15 10:44] sgmmahon commented on #105
Restarted computer and issue was resolved.

[2021-02-15 17:55] hakankvist opened #106 "WIKI: after adding udev rules, disconnect and reconnect keyboard"
On the wiki page:
https://github.com/zsa/wally/wiki/Live-training-on-Linux

Regarding the section:

I suggest to update it as:

I'm not bald yet, but a scratched my head a bit before realising that I had to disconnect and reconnect keyboard again.

[2021-02-17 14:12] sgmmahon commented on #105
Apologies, reopened the issue as this error has reoccured several more times over the last few days.

[2021-02-19 21:26] jakeweholt commented on #101
Wanted to follow up and say I am experiencing the same issue, but very specifically with alphabet keys (tried to set one up for the letter "F" and the whole thing broke).

[2021-02-22 17:25] arcturus140 commented on #103
+1 this would facilitate the troubleshooting guide. Also, when i connected my Ergodox Planck EZ the first time i had trouble with Live training. It would be easier to get familiar with the keyboard for those that are using it the very first time.

[2021-02-22 21:40] arcturus140 commented on #105
I am running into the same problem. Restarting the OS did not make a difference.

- using Planck EZ Default Layout (v18.0) is working without issues
- cloning Planck EZ Default Layout (v20.0) does not work: "No compatible devices found"

my setup:

- Ergodox Planck EZ glow
- Linux Ubuntu 20.04
- libusb-dev is already the newest version (2:0.1.12-32).
- Google Chrome Version 88.0.4324.182 (Official

[2021-02-22 23:47] fdidron commented on #105
Hello,  @sgmmahon can you let me know which OS/Browser versions you are using ?

[2021-02-22 23:48] fdidron commented on #105
Hi @arcturus140,

Did you setup the udev rules as mentionned in the wiki page: https://github.com/zsa/wally/wiki/Live-training-on-Linux

[2021-02-23 11:05] arcturus140 commented on #105
@fdidron it is now working. I added the udev rule which was missing in my configuration and restarted the machine. Also, for anyone else the reboot was necessary. At first I tried to log-out and in as User and reconnect the keyboard but this did not work.

thank you very much for your help.

[2021-02-25 13:46] NLKok opened #109 "Mac / Moonlander - Waiting for a DFU capable device"
I am unable to flash my Moonlander keyboard on Mac. Last time I successfuly flashed my Moonlander was about a month ago.  When I open my latest layout in the [configurator](https://configure.ergodox-ez.com/), I also see the firmware changed from `v19.0` to `v20.0`. Maybe that causes the problem.

When open Wally it detects my Moonlander, then I load my new firmware and the moment I press the reset

[2021-02-26 23:12] willhopkins commented on #109
I just received a Moonlander today and tried to flash the firmware on Linux (KDE Neon 5.21) and am having the exact same problem and error. I downloaded the binary and wally today for the first time. Happy to provide logs or other details on request but every symptom is identical to the ones described here.

[2021-02-26 23:39] LiBa001 commented on #109
Same goes for me on Ubuntu 18.04. I'm already having this problem for a while now and I'm occasionally checking if it's fixed. Which it still isn't. I guess it's since V2.1.0 (October 2020) that this problem occurs and it probably will continue to occur until the next release.

[2021-03-01 21:14] miniBill commented on #19
Adapted from @fdidron answer, the latest wally can be got with:

[code]

[2021-03-03 16:23] endafarrell commented on #89
I have this problem too. On a Mac, wally just seems to hang. `wally-cli` does work with the same `.bin` file. I can supply more details if you need them.

[2021-03-05 11:51] thomasheartman commented on #19
Is the `hardware.keyboard.zsa.enable` really necessary? I managed to flash my moonlander without it just now. With the `plugdev` group and `wally-cli` from unstable, everything appears to work as expected. I've been putting it off because I thought I'd need to upgrade to 21.05 for it to work on stable (because the `hardware.keyboard.zsa.enable` option is missing). Have I misunderstood something?

[2021-03-06 02:16] aronchick opened #110 "Does Wally support .hex?"
Hi--

It's not clear if Wally support .hex or not - the ergodox-ez website downloads both bin and hex - bin works fine, but hex does not - and the instructions say ".bin". So I'm _assuming_ .bin is all that works, but does that mean that the ergodox-ez website is useless? Is there any path here?

Thanks!

[2021-03-06 05:55] fdidron commented on #110
Hi,

Wally supports both format but the .hex file format targets Ergodox Ez keyboards, the .bin file targets The Moonlander and the Planck.

On configure.ergodox-ez.com the Ergodox pages will produce a hex file, the ones for the Moonlander/Planck will produce .bin files.

Which keyboard are you using ?

[2021-03-06 16:12] aronchick commented on #110
Oh this makes sense - I just didn't realize how to swap Oryx over from (wrongly) detecting I was on an Ergodex (i'm on a moonlander).

Obviously, you can close this because it's my fault - but it might be nice to pop a warning saying "You dragged a .hex but you have a Moonlander attached (or whatever). .hex files are only supported on Ergodex" (etc).

Your call though ... thank you so much for all

[2021-03-06 22:46] davidak commented on #19
I needed the udev rules, so my Ergodox was recognized by the flasher. I don't know if it's different with the Moonlander.

I don't think you misunderstood something, it was just different in your case. When it was flashed successful, good for you!

[2021-03-07 15:42] thomasheartman commented on #19
On closer inspection, it could be because I've got this in my config? I remember setting that up previously, so if it's the same thing that happens when you use the `hardware.keyboard.zsa.enable` option, then maybe I *did* need it after all. Thanks!

[code]

[2021-03-07 18:23] davidak commented on #19
Yeah, it's the same thing.

[2021-03-07 22:49] LiBa001 commented on #109
Nevermind, I was just insanely stupid the whole damn time and pressed the Oryx button instead of the reset button.

***facepalm***

[2021-03-08 01:31] jorowebdev opened #111 "Crashing on startup "Symbol not found: _clock_gettime""
Thanks in advance for the assist. Apologies if this issue has been brought up in a different thread already.

I'm running OS X El Cap 10.11.6 on a late 2008 MBP. I've installed Wally to try and flash my new Moonlander, but the application crashes as soon as I start it up.

Here's the terminal log
[code]

[2021-03-11 10:50] ojob commented on #106
Hi, same issue here with Chromium, installed via `snap`.

First I double-checked the content of the `/etc/udev/rules.d/50-oryx.rules` file.

Thin, I applied the recommendation provided in the warning at the bottom of the page, i.e. allow `snap` package manager to provide raw USB access to Chromium using following command (as I did not find a button in the software package GUI): `sudo snap connect

[2021-03-15 08:14] NLKok commented on #109
Don't know what changed. But I just tried downloading my latest firmware and now it all works. Same Wally version, same firmware, no changes, same procedure... Maybe Oryx change something on there side. Since it works I am closing this issue.

[2021-03-15 08:14] #109 closed

[2021-03-16 23:19] danielhoherd commented on #3
I just experienced this on macOS 11.2.3 with Wally 2.1.0 and a [Lention](https://www.amazon.com/gp/product/B06X1G6FWX/) USB hub. Switching to a straight USB-A to USB-C adapter solved the issue.

[2021-03-18 15:05] adelsz commented on #110
Got confused by this as well. I renamed the .hex file to .bin and flashed (warning: dont do this!)
That almost bricked the board, it got stuck in flashing mode and stopped responding to anything (reboots/resets/power off didnt help at all). Got really frustrated to brick it less than 5 mins after I got the keyboard.

Finally managed to get the keyboard out of that state after a random combination

[2021-03-20 21:50] vonneudeck opened #112 "Please consider merging these updated linux install docs"
Because one can’t use the standard procedures for Github wikis I had to jump through a few hoops.
You only need to start at point 2:

https://stackoverflow.com/a/11481887

The commit/branch is here:
https://github.com/vonneudeck/wally-wiki/commit/f82d02d1326756ad882fdc959d67109dcd87b989

The doc changes reflect the changes in #98 and I tested them on Fedora Silverblue 33 with an Ergodox.

[2021-03-24 22:30] core-code opened #114 "version number of 2.1.0 release broken"
i've downloaded version 2.1.0 but it claims to be 2.0.0 when selected in the Finder.

CFBundleVersion is wrong and CFBundleShortVersionString is missing completely (breaks 'Get info' dialog).

<img width="513" alt="Screenshot 2021-03-24 at 23 29 30" src="https://user-images.githubusercontent.com/1261954/112391938-f7141a80-8cf8-11eb-946f-88fb899b35da.png">

[2021-03-25 08:20] zorael opened #115 "50-oryx.rules is missing definitions"
Manjaro/Arch x86_64.

My Ergodox EZ (glow) is reported to be `3297:4976`. I think it's in NKRO mode.

[code]

However, the current `50-oryx.rules` only has these definitions:

[code]

I had to add this line to it to get the Train feature working.

[code]

[2021-03-26 22:26] Archehandoro opened #116 "Wally fails to launch in Gnome 40"
Hello,

When launching wally, under fedora 34 beta with gnome 40, I get the following error.

`
SIGABRT: abort
PC=0x7ff5356c4292 m=0 sigcode=18446744073709551610
signal arrived during cgo execution

goroutine 1 [syscall, locked to thread]:
runtime.cgocall(0x7ff860, 0xc00010bbd0, 0x0)
	/usr/lib/go-1.13/src/runtime/cgocall.go:128 +0x5b fp=0xc00010bba0 sp=0xc00010bb68 pc=0x4089bb
github.com/wailsapp/

[2021-03-30 18:23] mxmilkiib opened #117 "install.linux.sh fails if plugdev group already exists"
`groupadd: group 'plugdev' already exists`

[2021-03-30 18:27] mxmilkiib opened #118 "install.linux.sh vu"

[2021-03-30 18:53] mxmilkiib opened #119 "install.linux.sh doesn't check wally-cli is in $PATH"
It would be nice to have a check this and some helpful output to help the user understand the state of things at the end of the install.

[2021-03-30 18:56] mxmilkiib commented on #119
In fact it would be good to have an option to choose where the binary is installed; it's not really considered a good practice to 'spam' a home directory with a new folder.

[2021-03-30 20:15] mxmilkiib opened #120 "cli flag to flash with newest .bin in current directory?"
Like `--latest` or something.

[2021-04-01 01:36] mxmilkiib commented on #120
[code]
is a shell based workaround

[2021-04-02 19:52] pjroth commented on #82
Looks like the wiki instructions for Ubuntu have been updated per the workaround I used in a previous comment.

This issue can be closed.

[2021-04-02 19:52] #82 closed

[2021-04-09 05:02] fdidron commented on #116
Hi @Archehandoro can you give this release a try ?
https://github.com/zsa/wally/releases/tag/2.1.1-linux

[2021-04-09 08:58] pjio opened #121 "libc6 version 2.32 required but Ubuntu 20.04 has 2.31"
Steps to reproduce:

Download wally binary like suggested at: https://github.com/zsa/wally/wiki/Linux-install

[code]
Most recent libc6 for Ubuntu is 2.31
https://packages.ubuntu.com/focal/libc6

Am I missing something or should wally just run?

[2021-04-09 18:45] Archehandoro commented on #116
Hi, I gave it a try and the app launches, but buttons and images don't render, so only see a blank window. In the terminal, this log appears:
```Overriding existing handler for signal 10. Set JSC_SIGNAL_FOR_GC if you want WebKit to use a different signal```
Thanks for your help :)

[2021-04-09 21:59] dylan-sessler commented on #121
@pjio I was able to flash firmware using the wally-cli with no issues after running into the same issue as you earlier today.

I am running the cli with `./wally-cli` out of a directory where I am storing my keyboard binaries.
https://github.com/zsa/wally-cli/releases

[2021-04-11 21:47] ajoy39 commented on #121
Experiencing the same problem, Ubuntu 20.04 won't install anything > 2.31 so unless you're comfortable compiling from source and replacing the system glibc this build is broken

[2021-04-11 23:17] fdidron commented on #121
Hi, I upaded the binany here: https://github.com/zsa/wally/releases/tag/2.1.1-linux

Can you give it a try ? @pjio @ajoy39

[2021-04-12 06:26] pjio commented on #121
**@fdidron** Version 2.1.1 works!
I was able to start the UI and flash a new configuration to my keyboard without errors.

[2021-04-13 00:00] ajoy39 commented on #121
Can confirm as well, 2.1.1 works on Ubuntu 20.04 with GLIBC 2.31

[2021-04-13 02:36] kush99993s commented on #54
I am facing a similar issue. Though I am able to use the keyboard. but not able to update layout

[2021-04-16 07:54] bart3005 commented on #116
On Fedora 33 I also get a black window:

![image](https://user-images.githubusercontent.com/2724891/114991280-fcb1ea00-9ecb-11eb-8cc0-8f93c20eafbd.png)

[2021-04-20 10:48] kflak opened #123 "handle_events error libusb arch linux"
Hi,

I just bricked my  ergodox by flashing it with too old wally version, it seems. So I downloaded the lastest binary directly from github. It loads fine, and it finds the keyboard, but I only get ```handle_events: error: libusb: interrupted [code -10]``` errors in the terminal, and no flash from the ergodox. My udev rule is identical to the wiki version, so I don't think this is the issue. Any

[2021-04-20 11:35] kflak commented on #123
OK, seems it might have been an issue of a corrupt file or something... it miraculously works again after I tried again with a different  file.

[2021-04-20 11:35] #123 closed